<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigwin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,500}</string>
                <key>spriteSourceSize</key>
                <string>{666,500}</string>
                <key>textureRect</key>
                <string>{{1211,344},{666,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,121}</string>
                <key>spriteSourceSize</key>
                <string>{489,121}</string>
                <key>textureRect</key>
                <string>{{917,189},{489,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,138}</string>
                <key>spriteSourceSize</key>
                <string>{341,138}</string>
                <key>textureRect</key>
                <string>{{1615,0},{341,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,142}</string>
                <key>spriteSourceSize</key>
                <string>{193,142}</string>
                <key>textureRect</key>
                <string>{{1422,0},{193,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,142}</string>
                <key>spriteSourceSize</key>
                <string>{193,142}</string>
                <key>textureRect</key>
                <string>{{1229,0},{193,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khobau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,388}</string>
                <key>spriteSourceSize</key>
                <string>{622,388}</string>
                <key>textureRect</key>
                <string>{{589,344},{622,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{675,445}</string>
                <key>spriteSourceSize</key>
                <string>{675,445}</string>
                <key>textureRect</key>
                <string>{{0,861},{675,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{675,445}</string>
                <key>spriteSourceSize</key>
                <string>{675,445}</string>
                <key>textureRect</key>
                <string>{{675,861},{675,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{675,445}</string>
                <key>spriteSourceSize</key>
                <string>{675,445}</string>
                <key>textureRect</key>
                <string>{{1350,861},{675,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light-bg-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{945,450}</string>
                <key>spriteSourceSize</key>
                <string>{945,450}</string>
                <key>textureRect</key>
                <string>{{806,1306},{945,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light-bg-freespin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,517}</string>
                <key>spriteSourceSize</key>
                <string>{589,517}</string>
                <key>textureRect</key>
                <string>{{0,344},{589,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{806,690}</string>
                <key>spriteSourceSize</key>
                <string>{806,690}</string>
                <key>textureRect</key>
                <string>{{0,1306},{806,690}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light-star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{104,108}</string>
                <key>textureRect</key>
                <string>{{265,0},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,77}</string>
                <key>spriteSourceSize</key>
                <string>{98,77}</string>
                <key>textureRect</key>
                <string>{{167,0},{98,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,109}</string>
                <key>spriteSourceSize</key>
                <string>{182,109}</string>
                <key>textureRect</key>
                <string>{{1047,0},{182,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,114}</string>
                <key>spriteSourceSize</key>
                <string>{170,114}</string>
                <key>textureRect</key>
                <string>{{877,0},{170,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,189}</string>
                <key>spriteSourceSize</key>
                <string>{166,189}</string>
                <key>textureRect</key>
                <string>{{711,0},{166,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{369,0},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,63}</string>
                <key>spriteSourceSize</key>
                <string>{116,63}</string>
                <key>textureRect</key>
                <string>{{595,0},{116,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{92,94}</string>
                <key>textureRect</key>
                <string>{{75,0},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,118}</string>
                <key>spriteSourceSize</key>
                <string>{75,118}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,66}</string>
                <key>spriteSourceSize</key>
                <string>{479,66}</string>
                <key>textureRect</key>
                <string>{{438,189},{479,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ngoc-vang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,53}</string>
                <key>spriteSourceSize</key>
                <string>{116,53}</string>
                <key>textureRect</key>
                <string>{{479,0},{116,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,155}</string>
                <key>spriteSourceSize</key>
                <string>{438,155}</string>
                <key>textureRect</key>
                <string>{{0,189},{438,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,146}</string>
                <key>spriteSourceSize</key>
                <string>{562,146}</string>
                <key>textureRect</key>
                <string>{{1406,189},{562,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine.png</string>
            <key>size</key>
            <string>{2025,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd350393e60f8edb07751416b4827364:f7c7981726c3eacd6d0a0d8009109b6a:23f1fa07f0cdf22b09e1f79db08c79ff$</string>
            <key>textureFileName</key>
            <string>spine.png</string>
        </dict>
    </dict>
</plist>
