<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>candy_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,411}</string>
                <key>spriteSourceSize</key>
                <string>{207,411}</string>
                <key>textureRect</key>
                <string>{{2,137},{207,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,132}</string>
                <key>spriteSourceSize</key>
                <string>{213,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{213,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>candy_icon.png</string>
            <key>size</key>
            <string>{217,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45f2cb14f29b2a691aa8489b63ddbb70:657c398643f477ac2511aa27baf5b47e:e999204c6d2317c43cb231c278d0bb1f$</string>
            <key>textureFileName</key>
            <string>candy_icon.png</string>
        </dict>
    </dict>
</plist>
