<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1,176},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{1,66},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,108}</string>
                <key>spriteSourceSize</key>
                <string>{114,108}</string>
                <key>textureRect</key>
                <string>{{84,66},{114,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{234,63}</string>
                <key>spriteSourceSize</key>
                <string>{236,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_trenduoi.png</string>
            <key>size</key>
            <string>{236,383}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:446eaabe7ba08590e90310bf3dbfef96:99aadbb28ae54560f461f3b5a47049b5:33926ef1276b6b7c5ef3098beddd972a$</string>
            <key>textureFileName</key>
            <string>icon_trenduoi.png</string>
        </dict>
    </dict>
</plist>
