<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minipoker1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,205}</string>
                <key>spriteSourceSize</key>
                <string>{226,205}</string>
                <key>textureRect</key>
                <string>{{0,0},{226,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minipoker2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,95}</string>
                <key>spriteSourceSize</key>
                <string>{150,95}</string>
                <key>textureRect</key>
                <string>{{0,205},{150,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minipoker3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,67}</string>
                <key>spriteSourceSize</key>
                <string>{43,67}</string>
                <key>textureRect</key>
                <string>{{150,205},{43,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minipoker4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,121}</string>
                <key>spriteSourceSize</key>
                <string>{172,121}</string>
                <key>textureRect</key>
                <string>{{0,300},{172,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_minipoker.png</string>
            <key>size</key>
            <string>{226,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a178b1409e3ac27217a92e5c8dae48cf:0ac5674f306bb0b3b89eb44aaeaa6ef7:17c5c81fe20ee3fc3039cc372bf1f818$</string>
            <key>textureFileName</key>
            <string>icon_minipoker.png</string>
        </dict>
    </dict>
</plist>
