<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Layer57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,95}</string>
                <key>spriteSourceSize</key>
                <string>{190,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{190,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txbg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,410}</string>
                <key>spriteSourceSize</key>
                <string>{226,410}</string>
                <key>textureRect</key>
                <string>{{0,95},{226,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,123}</string>
                <key>spriteSourceSize</key>
                <string>{132,123}</string>
                <key>textureRect</key>
                <string>{{0,505},{132,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{132,505},{89,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_taixiu.png</string>
            <key>size</key>
            <string>{226,628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a788bc4d02fae098ce4b5457ab9e25d7:17c069cc9b3e5dc3a49d43ea80e3b88f:4b4292ecd88aeffcb5676d965306d0c4$</string>
            <key>textureFileName</key>
            <string>icon_taixiu.png</string>
        </dict>
    </dict>
</plist>
