<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GLOW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,187}</string>
                <key>spriteSourceSize</key>
                <string>{206,187}</string>
                <key>textureRect</key>
                <string>{{0,66},{206,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,23}</string>
                <key>spriteSourceSize</key>
                <string>{12,23}</string>
                <key>textureRect</key>
                <string>{{206,66},{12,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,410}</string>
                <key>spriteSourceSize</key>
                <string>{226,410}</string>
                <key>textureRect</key>
                <string>{{0,253},{226,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,193}</string>
                <key>spriteSourceSize</key>
                <string>{181,193}</string>
                <key>textureRect</key>
                <string>{{0,663},{181,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,44}</string>
                <key>spriteSourceSize</key>
                <string>{179,44}</string>
                <key>textureRect</key>
                <string>{{0,856},{179,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vq1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,73}</string>
                <key>spriteSourceSize</key>
                <string>{194,73}</string>
                <key>textureRect</key>
                <string>{{0,900},{194,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_vqred.png</string>
            <key>size</key>
            <string>{226,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8250ae25f846770bc94f55416155fddd:3c2b7765572dc3aeab1080f54d182a54:28118a5e9fca196ead2c02a8207b34cb$</string>
            <key>textureFileName</key>
            <string>icon_vqred.png</string>
        </dict>
    </dict>
</plist>
