<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigbabol1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,205}</string>
                <key>spriteSourceSize</key>
                <string>{226,205}</string>
                <key>textureRect</key>
                <string>{{0,0},{226,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigbabol2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{0,205},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigbabol3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,87}</string>
                <key>spriteSourceSize</key>
                <string>{88,87}</string>
                <key>textureRect</key>
                <string>{{89,205},{88,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigbabol4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,102}</string>
                <key>spriteSourceSize</key>
                <string>{125,102}</string>
                <key>textureRect</key>
                <string>{{0,293},{125,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigbabol5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,116}</string>
                <key>spriteSourceSize</key>
                <string>{169,116}</string>
                <key>textureRect</key>
                <string>{{0,395},{169,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigbabol6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,84}</string>
                <key>spriteSourceSize</key>
                <string>{172,84}</string>
                <key>textureRect</key>
                <string>{{0,511},{172,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_overlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,85}</string>
                <key>spriteSourceSize</key>
                <string>{191,85}</string>
                <key>textureRect</key>
                <string>{{0,595},{191,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_bigbabol.png</string>
            <key>size</key>
            <string>{226,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e6584ac51a38f47b29b7a25ea94ec41:b14da03f2aa53b08cbc23644338d0054:c5c51b917b6763ce66a03345cf3f11cb$</string>
            <key>textureFileName</key>
            <string>icon_bigbabol.png</string>
        </dict>
    </dict>
</plist>
