<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bc3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,135}</string>
                <key>spriteSourceSize</key>
                <string>{132,135}</string>
                <key>textureRect</key>
                <string>{{0,0},{132,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,116}</string>
                <key>spriteSourceSize</key>
                <string>{121,116}</string>
                <key>textureRect</key>
                <string>{{132,0},{121,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,203}</string>
                <key>spriteSourceSize</key>
                <string>{224,203}</string>
                <key>textureRect</key>
                <string>{{0,135},{224,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cua1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,74}</string>
                <key>spriteSourceSize</key>
                <string>{198,74}</string>
                <key>textureRect</key>
                <string>{{0,338},{198,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_baucua.png</string>
            <key>size</key>
            <string>{253,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:421748d5348f9502ee008a481159a7a0:f11fce23726174b7ed0572eeefaf1c80:cd4a431c048fee05c21250f45f23cc84$</string>
            <key>textureFileName</key>
            <string>icon_baucua.png</string>
        </dict>
    </dict>
</plist>
