<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,95}</string>
                <key>spriteSourceSize</key>
                <string>{143,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{143,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3c2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,119}</string>
                <key>spriteSourceSize</key>
                <string>{167,119}</string>
                <key>textureRect</key>
                <string>{{0,95},{167,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3c3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,205}</string>
                <key>spriteSourceSize</key>
                <string>{226,205}</string>
                <key>textureRect</key>
                <string>{{0,214},{226,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_mini3cay.png</string>
            <key>size</key>
            <string>{226,419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91285f5c95562179ddf43808ca171dd2:01b5c1ab34f7cdb25610dac790ee939a:c093322b5be762d1f0ee97661988a46a$</string>
            <key>textureFileName</key>
            <string>icon_mini3cay.png</string>
        </dict>
    </dict>
</plist>
