<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chanle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,203}</string>
                <key>spriteSourceSize</key>
                <string>{224,203}</string>
                <key>textureRect</key>
                <string>{{0,0},{224,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,77}</string>
                <key>spriteSourceSize</key>
                <string>{78,77}</string>
                <key>textureRect</key>
                <string>{{0,203},{78,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chanle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{98,99}</string>
                <key>textureRect</key>
                <string>{{78,203},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_chanle.png</string>
            <key>size</key>
            <string>{224,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b905426b10521fff910a394c906d98fd:42f477a271fc29257c3b743052c9a298:8754d29d62afe67d5c2084622411ab07$</string>
            <key>textureFileName</key>
            <string>icon_chanle.png</string>
        </dict>
    </dict>
</plist>
