<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_table_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_table_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{323,1},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_table_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{645,1},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_table_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{967,1},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_table_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1289,1},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_table_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1611,1},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_table_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1,183},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_table_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{323,183},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_table_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{645,183},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_table_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{967,183},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_table_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1289,183},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_table_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1611,183},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>room_table.png</string>
            <key>size</key>
            <string>{1932,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60ec50fb48c15817c674fef88a4d8fef:2d9dd865a331c91c323198b0bfc40f62:dcc3d4a9e74bfc54789d6869c877fa8a$</string>
            <key>textureFileName</key>
            <string>room_table.png</string>
        </dict>
    </dict>
</plist>
