<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGspin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,488}</string>
                <key>spriteSourceSize</key>
                <string>{39,488}</string>
                <key>textureRect</key>
                <string>{{931,1},{39,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,91}</string>
                <key>spriteSourceSize</key>
                <string>{231,91}</string>
                <key>textureRect</key>
                <string>{{1412,586},{231,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,67}</string>
                <key>spriteSourceSize</key>
                <string>{173,67}</string>
                <key>textureRect</key>
                <string>{{678,1078},{173,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boxthongbao0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,208}</string>
                <key>spriteSourceSize</key>
                <string>{400,208}</string>
                <key>textureRect</key>
                <string>{{1,743},{400,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_caidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{853,1078},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1688,986},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_quaylai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1688,1066},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttondung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,163}</string>
                <key>spriteSourceSize</key>
                <string>{213,163}</string>
                <key>textureRect</key>
                <string>{{463,915},{213,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,163}</string>
                <key>spriteSourceSize</key>
                <string>{213,163}</string>
                <key>textureRect</key>
                <string>{{803,561},{213,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonsieutoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1219,945},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonsieutoc_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1583,1040},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,165}</string>
                <key>spriteSourceSize</key>
                <string>{144,165}</string>
                <key>textureRect</key>
                <string>{{1273,153},{144,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ketthucsau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,35}</string>
                <key>spriteSourceSize</key>
                <string>{210,35}</string>
                <key>textureRect</key>
                <string>{{463,1080},{210,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung_jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,167}</string>
                <key>spriteSourceSize</key>
                <string>{273,167}</string>
                <key>textureRect</key>
                <string>{{972,300},{273,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungspin_bot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,36}</string>
                <key>spriteSourceSize</key>
                <string>{439,36}</string>
                <key>textureRect</key>
                <string>{{972,90},{439,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungspin_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,558}</string>
                <key>spriteSourceSize</key>
                <string>{126,558}</string>
                <key>textureRect</key>
                <string>{{803,1},{126,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungspin_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,87}</string>
                <key>spriteSourceSize</key>
                <string>{439,87}</string>
                <key>textureRect</key>
                <string>{{972,1},{439,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maingame10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,143}</string>
                <key>spriteSourceSize</key>
                <string>{140,143}</string>
                <key>textureRect</key>
                <string>{{1532,802},{140,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maingame14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,92}</string>
                <key>spriteSourceSize</key>
                <string>{173,92}</string>
                <key>textureRect</key>
                <string>{{1230,770},{173,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maingame15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,91}</string>
                <key>spriteSourceSize</key>
                <string>{271,91}</string>
                <key>textureRect</key>
                <string>{{1413,1},{271,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maingame9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,199}</string>
                <key>spriteSourceSize</key>
                <string>{198,199}</string>
                <key>textureRect</key>
                <string>{{263,953},{198,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maingame_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,369}</string>
                <key>spriteSourceSize</key>
                <string>{800,369}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>otienthang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,145}</string>
                <key>spriteSourceSize</key>
                <string>{299,145}</string>
                <key>textureRect</key>
                <string>{{972,153},{299,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,151}</string>
                <key>spriteSourceSize</key>
                <string>{150,151}</string>
                <key>textureRect</key>
                <string>{{1259,608},{150,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1324,934},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{1204,1050},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,101}</string>
                <key>textureRect</key>
                <string>{{1476,1040},{105,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,101}</string>
                <key>spriteSourceSize</key>
                <string>{133,101}</string>
                <key>textureRect</key>
                <string>{{1660,359},{133,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,153}</string>
                <key>spriteSourceSize</key>
                <string>{172,153}</string>
                <key>textureRect</key>
                <string>{{1247,300},{172,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{1259,455},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,130}</string>
                <key>spriteSourceSize</key>
                <string>{206,130}</string>
                <key>textureRect</key>
                <string>{{1324,802},{206,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,74}</string>
                <key>spriteSourceSize</key>
                <string>{121,74}</string>
                <key>textureRect</key>
                <string>{{1312,1086},{121,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{1645,462},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{1645,613},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{1674,764},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,91}</string>
                <key>spriteSourceSize</key>
                <string>{128,91}</string>
                <key>textureRect</key>
                <string>{{1476,947},{128,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,108}</string>
                <key>spriteSourceSize</key>
                <string>{113,108}</string>
                <key>textureRect</key>
                <string>{{1685,244},{113,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,107}</string>
                <key>spriteSourceSize</key>
                <string>{111,107}</string>
                <key>textureRect</key>
                <string>{{1674,877},{111,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,285}</string>
                <key>spriteSourceSize</key>
                <string>{149,285}</string>
                <key>textureRect</key>
                <string>{{692,776},{149,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,285}</string>
                <key>spriteSourceSize</key>
                <string>{148,285}</string>
                <key>textureRect</key>
                <string>{{972,469},{148,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,238}</string>
                <key>spriteSourceSize</key>
                <string>{106,238}</string>
                <key>textureRect</key>
                <string>{{979,921},{106,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,237}</string>
                <key>spriteSourceSize</key>
                <string>{105,237}</string>
                <key>textureRect</key>
                <string>{{965,1029},{105,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,237}</string>
                <key>spriteSourceSize</key>
                <string>{133,237}</string>
                <key>textureRect</key>
                <string>{{1421,322},{133,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,287}</string>
                <key>spriteSourceSize</key>
                <string>{170,287}</string>
                <key>textureRect</key>
                <string>{{403,743},{170,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,285}</string>
                <key>spriteSourceSize</key>
                <string>{149,285}</string>
                <key>textureRect</key>
                <string>{{678,927},{149,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,260}</string>
                <key>spriteSourceSize</key>
                <string>{205,260}</string>
                <key>textureRect</key>
                <string>{{1,953},{205,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,208}</string>
                <key>spriteSourceSize</key>
                <string>{121,208}</string>
                <key>textureRect</key>
                <string>{{1412,679},{121,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,285}</string>
                <key>spriteSourceSize</key>
                <string>{149,285}</string>
                <key>textureRect</key>
                <string>{{968,619},{149,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,249}</string>
                <key>spriteSourceSize</key>
                <string>{149,249}</string>
                <key>textureRect</key>
                <string>{{979,770},{149,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,241}</string>
                <key>spriteSourceSize</key>
                <string>{108,241}</string>
                <key>textureRect</key>
                <string>{{1686,1},{108,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>symbol_blur_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,224}</string>
                <key>spriteSourceSize</key>
                <string>{127,224}</string>
                <key>textureRect</key>
                <string>{{1412,457},{127,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,244}</string>
                <key>spriteSourceSize</key>
                <string>{113,244}</string>
                <key>textureRect</key>
                <string>{{1440,94},{113,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>symbol_blur_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,243}</string>
                <key>spriteSourceSize</key>
                <string>{111,243}</string>
                <key>textureRect</key>
                <string>{{1440,209},{111,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tayduky_bonusgame_BG0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,369}</string>
                <key>spriteSourceSize</key>
                <string>{800,369}</string>
                <key>textureRect</key>
                <string>{{1,372},{800,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanhchiacot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,466}</string>
                <key>spriteSourceSize</key>
                <string>{23,466}</string>
                <key>textureRect</key>
                <string>{{972,128},{23,466}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tayduky.png</string>
            <key>size</key>
            <string>{1795,1161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:423dcb46956ef493b00a37572485be44:67726da771862e96b59419bcdfaab0ba:59048845f24202808aff2f6b61b3ac90$</string>
            <key>textureFileName</key>
            <string>tayduky.png</string>
        </dict>
    </dict>
</plist>
