<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./BG-KimCuong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{696,508}</string>
    <key>spriteSourceSize</key>
    <string>{696,508}</string>
    <key>textureRect</key>
    <string>{{698,693},{696,508}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./BG-chitiet</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{696,508}</string>
    <key>spriteSourceSize</key>
    <string>{696,508}</string>
    <key>textureRect</key>
    <string>{{0,693},{696,508}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./BG-popup</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1090,691}</string>
    <key>spriteSourceSize</key>
    <string>{1090,691}</string>
    <key>textureRect</key>
    <string>{{0,0},{1090,691}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Rectangle 5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{435,44}</string>
    <key>spriteSourceSize</key>
    <string>{435,44}</string>
    <key>textureRect</key>
    <string>{{483,1203},{435,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button-dong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{146,70}</string>
    <key>spriteSourceSize</key>
    <string>{146,70}</string>
    <key>textureRect</key>
    <string>{{1201,456},{146,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button-quay</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,71}</string>
    <key>spriteSourceSize</key>
    <string>{144,71}</string>
    <key>textureRect</key>
    <string>{{1201,310},{144,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button-sieutoc-act</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,71}</string>
    <key>spriteSourceSize</key>
    <string>{145,71}</string>
    <key>textureRect</key>
    <string>{{1201,237},{145,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button-sieutoc-disible</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,71}</string>
    <key>spriteSourceSize</key>
    <string>{145,71}</string>
    <key>textureRect</key>
    <string>{{1092,558},{145,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button-tuquay</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,71}</string>
    <key>spriteSourceSize</key>
    <string>{144,71}</string>
    <key>textureRect</key>
    <string>{{1201,383},{144,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./candy1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,111}</string>
    <key>spriteSourceSize</key>
    <string>{112,113}</string>
    <key>textureRect</key>
    <string>{{1092,124},{112,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./candy2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{101,103}</string>
    <key>spriteSourceSize</key>
    <string>{105,104}</string>
    <key>textureRect</key>
    <string>{{1206,124},{101,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./candy3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{107,107}</string>
    <key>spriteSourceSize</key>
    <string>{111,110}</string>
    <key>textureRect</key>
    <string>{{1092,237},{107,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./candy5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{104,102}</string>
    <key>spriteSourceSize</key>
    <string>{106,104}</string>
    <key>textureRect</key>
    <string>{{1092,454},{104,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./candy6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,106}</string>
    <key>spriteSourceSize</key>
    <string>{110,107}</string>
    <key>textureRect</key>
    <string>{{1092,346},{106,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./exit-game</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{1309,124},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gold-act</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,62}</string>
    <key>spriteSourceSize</key>
    <string>{65,62}</string>
    <key>textureRect</key>
    <string>{{1239,623},{65,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gold-dis</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,63}</string>
    <key>spriteSourceSize</key>
    <string>{66,63}</string>
    <key>textureRect</key>
    <string>{{1239,558},{66,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./hide-icon</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{68,68}</string>
    <key>textureRect</key>
    <string>{{1283,51},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon-huongdan</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,48}</string>
    <key>spriteSourceSize</key>
    <string>{50,48}</string>
    <key>textureRect</key>
    <string>{{1307,558},{50,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon-i</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,48}</string>
    <key>spriteSourceSize</key>
    <string>{50,48}</string>
    <key>textureRect</key>
    <string>{{1307,608},{50,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon-vinhdanh</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,48}</string>
    <key>spriteSourceSize</key>
    <string>{50,48}</string>
    <key>textureRect</key>
    <string>{{1251,1203},{50,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./lichsuhu-btn</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{189,71}</string>
    <key>spriteSourceSize</key>
    <string>{189,71}</string>
    <key>textureRect</key>
    <string>{{1092,51},{189,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./text-BangVinhDanh</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{307,42}</string>
    <key>spriteSourceSize</key>
    <string>{307,42}</string>
    <key>textureRect</key>
    <string>{{483,1249},{307,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./text-Lichsugiaodich</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{329,50}</string>
    <key>spriteSourceSize</key>
    <string>{329,50}</string>
    <key>textureRect</key>
    <string>{{920,1203},{329,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./text-chitiet</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{481,54}</string>
    <key>spriteSourceSize</key>
    <string>{481,54}</string>
    <key>textureRect</key>
    <string>{{0,1203},{481,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./text-dongdatcuoc</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,49}</string>
    <key>spriteSourceSize</key>
    <string>{300,49}</string>
    <key>textureRect</key>
    <string>{{1092,0},{300,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./text1-thele</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,56}</string>
    <key>spriteSourceSize</key>
    <string>{122,56}</string>
    <key>textureRect</key>
    <string>{{1092,631},{122,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1396,1293}</string>
   <key>textureFileName</key>
   <string>Main.png</string>
  </dict>
 </dict>
</plist>
