<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{40,48}</string>
                <key>textureRect</key>
                <string>{{797,838},{40,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{40,48}</string>
                <key>textureRect</key>
                <string>{{742,649},{40,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,75}</string>
                <key>spriteSourceSize</key>
                <string>{171,75}</string>
                <key>textureRect</key>
                <string>{{914,556},{171,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,134}</string>
                <key>spriteSourceSize</key>
                <string>{362,134}</string>
                <key>textureRect</key>
                <string>{{1,716},{362,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,136}</string>
                <key>spriteSourceSize</key>
                <string>{152,136}</string>
                <key>textureRect</key>
                <string>{{840,740},{152,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,75}</string>
                <key>spriteSourceSize</key>
                <string>{262,75}</string>
                <key>textureRect</key>
                <string>{{836,475},{262,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_recent_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,86}</string>
                <key>spriteSourceSize</key>
                <string>{283,86}</string>
                <key>textureRect</key>
                <string>{{836,189},{283,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_total_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,86}</string>
                <key>spriteSourceSize</key>
                <string>{229,86}</string>
                <key>textureRect</key>
                <string>{{654,1},{229,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{85,68}</string>
                <key>textureRect</key>
                <string>{{925,468},{85,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,91}</string>
                <key>textureRect</key>
                <string>{{654,473},{105,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_music_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{85,68}</string>
                <key>textureRect</key>
                <string>{{762,473},{85,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_music_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{85,68}</string>
                <key>textureRect</key>
                <string>{{762,561},{85,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_play_auto_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,117}</string>
                <key>spriteSourceSize</key>
                <string>{164,117}</string>
                <key>textureRect</key>
                <string>{{654,233},{164,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play_auto_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,117}</string>
                <key>spriteSourceSize</key>
                <string>{164,117}</string>
                <key>textureRect</key>
                <string>{{654,353},{164,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,158}</string>
                <key>spriteSourceSize</key>
                <string>{185,158}</string>
                <key>textureRect</key>
                <string>{{836,1},{185,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{85,68}</string>
                <key>textureRect</key>
                <string>{{654,567},{85,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{85,68}</string>
                <key>textureRect</key>
                <string>{{654,638},{85,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_scatter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,119}</string>
                <key>spriteSourceSize</key>
                <string>{232,119}</string>
                <key>textureRect</key>
                <string>{{366,716},{232,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_wild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,119}</string>
                <key>spriteSourceSize</key>
                <string>{232,119}</string>
                <key>textureRect</key>
                <string>{{601,716},{232,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huwin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,650}</string>
                <key>spriteSourceSize</key>
                <string>{712,650}</string>
                <key>textureRect</key>
                <string>{{1,1},{712,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,276}</string>
                <key>spriteSourceSize</key>
                <string>{71,276}</string>
                <key>textureRect</key>
                <string>{{925,189},{71,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line11_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,395}</string>
                <key>spriteSourceSize</key>
                <string>{35,395}</string>
                <key>textureRect</key>
                <string>{{1,853},{35,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,395}</string>
                <key>spriteSourceSize</key>
                <string>{35,395}</string>
                <key>textureRect</key>
                <string>{{399,838},{35,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muc_cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,75}</string>
                <key>spriteSourceSize</key>
                <string>{229,75}</string>
                <key>textureRect</key>
                <string>{{743,1},{229,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>default.png</string>
            <key>size</key>
            <string>{997,889}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd50718ea1a0f445fe6476eb192b16a1:f805459ba73670ff649f0c0d512446d0:d258758acfd7c2dc4f771a427c5ecb8e$</string>
            <key>textureFileName</key>
            <string>default.png</string>
        </dict>
    </dict>
</plist>
