<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>res/Minigame/ResMiniPoker/CanGat/cangat0.png</key>
<dict>
<key>frame</key>
<string>{{1,145},{59,140}}</string>
<key>offset</key>
<string>{0,97}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{59,334}</string>
</dict>
<key>res/Minigame/ResMiniPoker/CanGat/cangat1.png</key>
<dict>
<key>frame</key>
<string>{{123,62},{59,85}}</string>
<key>offset</key>
<string>{0,58}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{59,334}</string>
</dict>
<key>res/Minigame/ResMiniPoker/CanGat/cangat2.png</key>
<dict>
<key>frame</key>
<string>{{143,123},{59,61}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{59,334}</string>
</dict>
<key>res/Minigame/ResMiniPoker/CanGat/cangat3.png</key>
<dict>
<key>frame</key>
<string>{{123,1},{59,87}}</string>
<key>offset</key>
<string>{0,-55}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{59,334}</string>
</dict>
<key>res/Minigame/ResMiniPoker/CanGat/cangat4.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{59,142}}</string>
<key>offset</key>
<string>{0,-96}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{59,334}</string>
</dict>
<key>res/Minigame/ResMiniPoker/CanGat/cangat5.png</key>
<dict>
<key>frame</key>
<string>{{62,1},{59,140}}</string>
<key>offset</key>
<string>{0,97}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{59,334}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>textureFileName</key>
<string>CanGatAnimation.png</string>
<key>realTextureFileName</key>
<string>CanGatAnimation.png</string>
<key>size</key>
<string>{211,205}</string>
</dict>
<key>texture</key>
<dict>
<key>width</key>
<integer>211</integer>
<key>height</key>
<integer>205</integer>
</dict>
</dict>
</plist>