<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mini-poke-auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,88}</string>
                <key>spriteSourceSize</key>
                <string>{156,88}</string>
                <key>textureRect</key>
                <string>{{924,842},{156,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mini-poke-bg-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,462}</string>
                <key>spriteSourceSize</key>
                <string>{667,462}</string>
                <key>textureRect</key>
                <string>{{670,1},{667,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mini-poke-content-ac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,162}</string>
                <key>spriteSourceSize</key>
                <string>{445,170}</string>
                <key>textureRect</key>
                <string>{{1,786},{435,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-poke-content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,170}</string>
                <key>spriteSourceSize</key>
                <string>{445,170}</string>
                <key>textureRect</key>
                <string>{{670,670},{445,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-poke-hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,99}</string>
                <key>spriteSourceSize</key>
                <string>{382,99}</string>
                <key>textureRect</key>
                <string>{{438,889},{382,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-poke-speed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,88}</string>
                <key>spriteSourceSize</key>
                <string>{154,88}</string>
                <key>textureRect</key>
                <string>{{1014,842},{154,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mini-poke-spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,101}</string>
                <key>spriteSourceSize</key>
                <string>{143,101}</string>
                <key>textureRect</key>
                <string>{{438,786},{143,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-poke-stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,100}</string>
                <key>spriteSourceSize</key>
                <string>{143,100}</string>
                <key>textureRect</key>
                <string>{{822,842},{143,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mini-poker-bg-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,783}</string>
                <key>spriteSourceSize</key>
                <string>{667,783}</string>
                <key>textureRect</key>
                <string>{{1,1},{667,783}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mini-poker.png</string>
            <key>size</key>
            <string>{1133,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7404966abc2596fcc9428f5c226a361c:d085ab010b56928d9ae576f799ee15cb:9a1a5738f855ab9d9eebd79ad5086cec$</string>
            <key>textureFileName</key>
            <string>mini-poker.png</string>
        </dict>
    </dict>
</plist>
