<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{781,449}</string>
                <key>spriteSourceSize</key>
                <string>{781,449}</string>
                <key>textureRect</key>
                <string>{{1,1},{781,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,73}</string>
                <key>spriteSourceSize</key>
                <string>{184,73}</string>
                <key>textureRect</key>
                <string>{{881,75},{184,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,327}</string>
                <key>spriteSourceSize</key>
                <string>{74,327}</string>
                <key>textureRect</key>
                <string>{{784,75},{74,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_playOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{784,404},{73,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_speed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,72}</string>
                <key>spriteSourceSize</key>
                <string>{181,72}</string>
                <key>textureRect</key>
                <string>{{784,1},{181,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,72}</string>
                <key>spriteSourceSize</key>
                <string>{182,72}</string>
                <key>textureRect</key>
                <string>{{881,261},{182,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minipoker_v2.png</string>
            <key>size</key>
            <string>{966,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a03b3f13fa74184dd1097f36468dcf3:61e9168bf2bf897ec9085bfcd040fb74:69868447e92f2e033b1d964e621a931d$</string>
            <key>textureFileName</key>
            <string>minipoker_v2.png</string>
        </dict>
    </dict>
</plist>
