<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-prize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,417}</string>
                <key>spriteSourceSize</key>
                <string>{636,417}</string>
                <key>textureRect</key>
                <string>{{0,511},{636,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-select-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{295,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{51,0},{35,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{86,0},{35,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-add-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{21,0},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,48}</string>
                <key>spriteSourceSize</key>
                <string>{101,48}</string>
                <key>textureRect</key>
                <string>{{164,46},{101,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-auto-stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,64}</string>
                <key>spriteSourceSize</key>
                <string>{182,64}</string>
                <key>textureRect</key>
                <string>{{361,96},{182,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,64}</string>
                <key>spriteSourceSize</key>
                <string>{182,64}</string>
                <key>textureRect</key>
                <string>{{0,96},{182,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{543,96},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,50}</string>
                <key>spriteSourceSize</key>
                <string>{128,50}</string>
                <key>textureRect</key>
                <string>{{443,46},{128,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{334,0},{48,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-even.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,47}</string>
                <key>spriteSourceSize</key>
                <string>{164,47}</string>
                <key>textureRect</key>
                <string>{{0,46},{164,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-free-spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,145}</string>
                <key>spriteSourceSize</key>
                <string>{227,145}</string>
                <key>textureRect</key>
                <string>{{212,163},{227,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-odd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,46}</string>
                <key>spriteSourceSize</key>
                <string>{122,46}</string>
                <key>textureRect</key>
                <string>{{505,0},{122,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,201}</string>
                <key>spriteSourceSize</key>
                <string>{145,201}</string>
                <key>textureRect</key>
                <string>{{170,308},{145,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-prize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,64}</string>
                <key>spriteSourceSize</key>
                <string>{179,64}</string>
                <key>textureRect</key>
                <string>{{182,96},{179,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,68}</string>
                <key>spriteSourceSize</key>
                <string>{140,68}</string>
                <key>textureRect</key>
                <string>{{0,163},{140,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-select-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,146}</string>
                <key>spriteSourceSize</key>
                <string>{170,146}</string>
                <key>textureRect</key>
                <string>{{0,308},{170,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{140,163},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,145}</string>
                <key>spriteSourceSize</key>
                <string>{227,145}</string>
                <key>textureRect</key>
                <string>{{439,163},{227,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-test.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,203}</string>
                <key>spriteSourceSize</key>
                <string>{147,203}</string>
                <key>textureRect</key>
                <string>{{315,308},{147,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toggle-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt-history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,45}</string>
                <key>spriteSourceSize</key>
                <string>{123,45}</string>
                <key>textureRect</key>
                <string>{{382,0},{123,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt-rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,39}</string>
                <key>spriteSourceSize</key>
                <string>{174,39}</string>
                <key>textureRect</key>
                <string>{{121,0},{174,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt-select-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,48}</string>
                <key>spriteSourceSize</key>
                <string>{178,48}</string>
                <key>textureRect</key>
                <string>{{265,46},{178,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>default.png</string>
            <key>size</key>
            <string>{666,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aea0a4816a8e2cc989c62392c70ef8b7:5ac325e964e25bc80513b88e53c339bd:d258758acfd7c2dc4f771a427c5ecb8e$</string>
            <key>textureFileName</key>
            <string>default.png</string>
        </dict>
    </dict>
</plist>
