<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,70}</string>
                <key>textureRect</key>
                <string>{{1,216},{47,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page.last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,40}</string>
                <key>spriteSourceSize</key>
                <string>{55,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{55,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page.number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,52}</string>
                <key>spriteSourceSize</key>
                <string>{87,52}</string>
                <key>textureRect</key>
                <string>{{1,127},{87,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>page.previous.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,40}</string>
                <key>spriteSourceSize</key>
                <string>{55,40}</string>
                <key>textureRect</key>
                <string>{{1,43},{55,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page.select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,40}</string>
                <key>spriteSourceSize</key>
                <string>{55,40}</string>
                <key>textureRect</key>
                <string>{{1,85},{55,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pages.png.png</string>
            <key>size</key>
            <string>{57,287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14d22a3b5938f259dbc26c2ff09d83f9:dfd624fcdfe42645b98a93b4dba3406c:546b8ea539e0fdeb317b651f5457e643$</string>
            <key>textureFileName</key>
            <string>pages.png.png</string>
        </dict>
    </dict>
</plist>
