<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgTitle_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,47}</string>
                <key>spriteSourceSize</key>
                <string>{1,47}</string>
                <key>textureRect</key>
                <string>{{351,1175},{1,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgTitle_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,47}</string>
                <key>textureRect</key>
                <string>{{229,1175},{59,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgTitle_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,47}</string>
                <key>textureRect</key>
                <string>{{290,1175},{59,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dialog_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1172,662}</string>
                <key>spriteSourceSize</key>
                <string>{1172,662}</string>
                <key>textureRect</key>
                <string>{{1,1},{1172,662}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>history_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,48}</string>
                <key>spriteSourceSize</key>
                <string>{226,48}</string>
                <key>textureRect</key>
                <string>{{1,1175},{226,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vinhDanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,31}</string>
                <key>spriteSourceSize</key>
                <string>{189,31}</string>
                <key>textureRect</key>
                <string>{{354,1175},{189,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgHistory.png</string>
            <key>size</key>
            <string>{664,1224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1059c92fbeecd75f02e810d41df6db6a:29ac55baec4cb9e0a4f328972f36fd31:cca706b8bab23e2f8638cdda9ea6b67d$</string>
            <key>textureFileName</key>
            <string>bgHistory.png</string>
        </dict>
    </dict>
</plist>
