<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai-cua-bg-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,113}</string>
                <key>spriteSourceSize</key>
                <string>{92,113}</string>
                <key>textureRect</key>
                <string>{{682,200},{92,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-bg-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,235}</string>
                <key>spriteSourceSize</key>
                <string>{230,235}</string>
                <key>textureRect</key>
                <string>{{570,315},{230,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-bg-jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,99}</string>
                <key>spriteSourceSize</key>
                <string>{380,99}</string>
                <key>textureRect</key>
                <string>{{176,200},{380,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{757,547}</string>
                <key>spriteSourceSize</key>
                <string>{757,547}</string>
                <key>textureRect</key>
                <string>{{0,852},{757,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-button-san-hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,113}</string>
                <key>spriteSourceSize</key>
                <string>{126,113}</string>
                <key>textureRect</key>
                <string>{{556,200},{126,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-form-jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{918,302}</string>
                <key>spriteSourceSize</key>
                <string>{918,302}</string>
                <key>textureRect</key>
                <string>{{0,550},{918,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,115}</string>
                <key>spriteSourceSize</key>
                <string>{114,115}</string>
                <key>textureRect</key>
                <string>{{456,315},{114,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,115}</string>
                <key>spriteSourceSize</key>
                <string>{114,115}</string>
                <key>textureRect</key>
                <string>{{342,315},{114,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,115}</string>
                <key>spriteSourceSize</key>
                <string>{114,115}</string>
                <key>textureRect</key>
                <string>{{228,315},{114,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,115}</string>
                <key>spriteSourceSize</key>
                <string>{114,115}</string>
                <key>textureRect</key>
                <string>{{114,315},{114,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,115}</string>
                <key>spriteSourceSize</key>
                <string>{114,115}</string>
                <key>textureRect</key>
                <string>{{0,315},{114,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,115}</string>
                <key>spriteSourceSize</key>
                <string>{114,115}</string>
                <key>textureRect</key>
                <string>{{774,200},{114,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-bet-1-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,21}</string>
                <key>spriteSourceSize</key>
                <string>{82,21}</string>
                <key>textureRect</key>
                <string>{{68,0},{82,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-bet-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,20}</string>
                <key>spriteSourceSize</key>
                <string>{68,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{0,200},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-mini-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,79}</string>
                <key>spriteSourceSize</key>
                <string>{50,79}</string>
                <key>textureRect</key>
                <string>{{423,115},{50,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-mini-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,71}</string>
                <key>spriteSourceSize</key>
                <string>{49,71}</string>
                <key>textureRect</key>
                <string>{{374,115},{49,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-mini-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,68}</string>
                <key>spriteSourceSize</key>
                <string>{61,68}</string>
                <key>textureRect</key>
                <string>{{258,115},{61,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-mini-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,49}</string>
                <key>spriteSourceSize</key>
                <string>{73,49}</string>
                <key>textureRect</key>
                <string>{{460,0},{73,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-mini-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,71}</string>
                <key>spriteSourceSize</key>
                <string>{55,71}</string>
                <key>textureRect</key>
                <string>{{319,115},{55,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-mini-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,44}</string>
                <key>spriteSourceSize</key>
                <string>{76,44}</string>
                <key>textureRect</key>
                <string>{{384,0},{76,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{86,200},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-small-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{189,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-small-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{267,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-small-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{228,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-small-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{150,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-small-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{306,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-item-small-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{345,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-jackpot-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,85}</string>
                <key>spriteSourceSize</key>
                <string>{366,85}</string>
                <key>textureRect</key>
                <string>{{473,115},{366,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-rank-time-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,66}</string>
                <key>spriteSourceSize</key>
                <string>{332,66}</string>
                <key>textureRect</key>
                <string>{{433,49},{332,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-rank-time-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,53}</string>
                <key>spriteSourceSize</key>
                <string>{433,53}</string>
                <key>textureRect</key>
                <string>{{0,49},{433,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bau-cua-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,67}</string>
                <key>spriteSourceSize</key>
                <string>{258,67}</string>
                <key>textureRect</key>
                <string>{{0,115},{258,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mini-game-baucua.png</string>
            <key>size</key>
            <string>{918,1399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6320a9b4a0c63e1b6430f76ec924f97:42e559e956866b643ad45e816b3afabd:d7f2cf5cf13e019e36c9c2f5b952a5a2$</string>
            <key>textureFileName</key>
            <string>mini-game-baucua.png</string>
        </dict>
    </dict>
</plist>
