<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plate-bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plate-dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,153}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{118,0},{153,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plate-xoc-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,176}</string>
                <key>spriteSourceSize</key>
                <string>{217,176}</string>
                <key>textureRect</key>
                <string>{{271,0},{217,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plate-xoc-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,176}</string>
                <key>spriteSourceSize</key>
                <string>{217,176}</string>
                <key>textureRect</key>
                <string>{{488,0},{217,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plate-xoc-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,176}</string>
                <key>spriteSourceSize</key>
                <string>{217,176}</string>
                <key>textureRect</key>
                <string>{{705,0},{217,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plate.png</string>
            <key>size</key>
            <string>{922,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a0f6e4f31ac5f9c1b9ae8ffcd81f97f:f79ffd5cea7bc26afb3057db6c0c802c:bee5224fcd53759c9b8b9d6a760d81c8$</string>
            <key>textureFileName</key>
            <string>plate.png</string>
        </dict>
    </dict>
</plist>
