<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{686,440}</string>
                <key>spriteSourceSize</key>
                <string>{686,440}</string>
                <key>textureRect</key>
                <string>{{340,1508},{686,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,38}</string>
                <key>spriteSourceSize</key>
                <string>{266,38}</string>
                <key>textureRect</key>
                <string>{{862,0},{266,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,442}</string>
                <key>spriteSourceSize</key>
                <string>{815,442}</string>
                <key>textureRect</key>
                <string>{{1026,1508},{815,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,55}</string>
                <key>spriteSourceSize</key>
                <string>{135,55}</string>
                <key>textureRect</key>
                <string>{{1515,0},{135,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_number2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,55}</string>
                <key>spriteSourceSize</key>
                <string>{74,55}</string>
                <key>textureRect</key>
                <string>{{0,55},{74,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_number2_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,55}</string>
                <key>spriteSourceSize</key>
                <string>{74,55}</string>
                <key>textureRect</key>
                <string>{{74,55},{74,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_number_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,55}</string>
                <key>spriteSourceSize</key>
                <string>{135,55}</string>
                <key>textureRect</key>
                <string>{{1650,0},{135,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{1522,55},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,65}</string>
                <key>spriteSourceSize</key>
                <string>{156,65}</string>
                <key>textureRect</key>
                <string>{{1032,55},{156,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaNan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{1187,295},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1295,480},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{555,480},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{0,850},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{370,665},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{555,665},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{925,665},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1110,665},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1480,665},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1295,665},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{740,665},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{185,665},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{740,480},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1110,480},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{0,665},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1480,480},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{925,480},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{185,850},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{370,1035},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{555,1035},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{740,1035},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{925,1035},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{0,1220},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1480,1035},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1295,1035},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1110,1035},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{740,850},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{185,1035},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{370,850},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{555,850},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{925,850},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1110,850},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1480,850},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{0,1035},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{370,480},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1295,850},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{185,480},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1371,295},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1556,295},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{0,480},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{22,0},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{189,0},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_cr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{249,0},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{219,0},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,63}</string>
                <key>spriteSourceSize</key>
                <string>{65,63}</string>
                <key>textureRect</key>
                <string>{{967,55},{65,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{1311,0},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{1362,0},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{1413,0},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{1209,0},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{1260,0},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{1464,0},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-chart1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,162}</string>
                <key>spriteSourceSize</key>
                <string>{585,162}</string>
                <key>textureRect</key>
                <string>{{0,295},{585,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-chart2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{602,182}</string>
                <key>spriteSourceSize</key>
                <string>{602,182}</string>
                <key>textureRect</key>
                <string>{{585,295},{602,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table-result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{617,155}</string>
                <key>spriteSourceSize</key>
                <string>{617,155}</string>
                <key>textureRect</key>
                <string>{{1028,140},{617,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai-xiu-bet-bg-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,60}</string>
                <key>spriteSourceSize</key>
                <string>{230,60}</string>
                <key>textureRect</key>
                <string>{{378,55},{230,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai-xiu-bet-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,60}</string>
                <key>spriteSourceSize</key>
                <string>{230,60}</string>
                <key>textureRect</key>
                <string>{{148,55},{230,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai-xiu-bg-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{716,210}</string>
                <key>spriteSourceSize</key>
                <string>{716,210}</string>
                <key>textureRect</key>
                <string>{{759,1220},{716,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai-xiu-button-nan-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{1600,55},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai-xiu-button-nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{1444,55},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai-xiu-chain-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,104}</string>
                <key>spriteSourceSize</key>
                <string>{516,104}</string>
                <key>textureRect</key>
                <string>{{0,140},{516,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai-xiu-chat-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,402}</string>
                <key>spriteSourceSize</key>
                <string>{340,402}</string>
                <key>textureRect</key>
                <string>{{0,1508},{340,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai-xiu-history-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,32}</string>
                <key>spriteSourceSize</key>
                <string>{583,32}</string>
                <key>textureRect</key>
                <string>{{279,0},{583,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai-xiu-layer-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,77}</string>
                <key>spriteSourceSize</key>
                <string>{76,77}</string>
                <key>textureRect</key>
                <string>{{1264,55},{76,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai-xiu-layer-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,77}</string>
                <key>spriteSourceSize</key>
                <string>{76,77}</string>
                <key>textureRect</key>
                <string>{{1188,55},{76,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai-xiu-layer-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,288}</string>
                <key>spriteSourceSize</key>
                <string>{288,288}</string>
                <key>textureRect</key>
                <string>{{1475,1220},{288,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,78}</string>
                <key>spriteSourceSize</key>
                <string>{104,78}</string>
                <key>textureRect</key>
                <string>{{1340,55},{104,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thongke_tong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{102,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thongke_xucxac1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{129,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thongke_xucxac2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{48,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thongke_xucxac3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{75,0},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,190}</string>
                <key>spriteSourceSize</key>
                <string>{574,190}</string>
                <key>textureRect</key>
                <string>{{185,1220},{574,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,47}</string>
                <key>spriteSourceSize</key>
                <string>{81,47}</string>
                <key>textureRect</key>
                <string>{{1128,0},{81,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title-result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,60}</string>
                <key>spriteSourceSize</key>
                <string>{359,60}</string>
                <key>textureRect</key>
                <string>{{608,55},{359,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,137}</string>
                <key>spriteSourceSize</key>
                <string>{512,137}</string>
                <key>textureRect</key>
                <string>{{516,140},{512,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,28}</string>
                <key>spriteSourceSize</key>
                <string>{33,28}</string>
                <key>textureRect</key>
                <string>{{156,0},{33,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,85}</string>
                <key>spriteSourceSize</key>
                <string>{119,85}</string>
                <key>textureRect</key>
                <string>{{1678,55},{119,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TaiXiu.png</string>
            <key>size</key>
            <string>{1841,1950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:351a5084dbecb32c534628804c4313d2:ffc49c595444f597c91470f896c346dd:5910d73fa88c95f0bf1d339fd43cc7c4$</string>
            <key>textureFileName</key>
            <string>TaiXiu.png</string>
        </dict>
    </dict>
</plist>
