<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{266,266}</string>
                <key>textureRect</key>
                <string>{{644,1},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,72}</string>
                <key>spriteSourceSize</key>
                <string>{122,72}</string>
                <key>textureRect</key>
                <string>{{80,780},{122,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,77}</string>
                <key>spriteSourceSize</key>
                <string>{127,77}</string>
                <key>textureRect</key>
                <string>{{1,780},{127,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nenDia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,263}</string>
                <key>spriteSourceSize</key>
                <string>{263,263}</string>
                <key>textureRect</key>
                <string>{{644,269},{263,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_bgChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,641}</string>
                <key>spriteSourceSize</key>
                <string>{429,641}</string>
                <key>textureRect</key>
                <string>{{1,1},{429,641}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_bgInput2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,70}</string>
                <key>spriteSourceSize</key>
                <string>{229,70}</string>
                <key>textureRect</key>
                <string>{{204,780},{229,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_bg_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,295}</string>
                <key>spriteSourceSize</key>
                <string>{582,295}</string>
                <key>textureRect</key>
                <string>{{1,483},{582,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_bg_input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,37}</string>
                <key>spriteSourceSize</key>
                <string>{111,37}</string>
                <key>textureRect</key>
                <string>{{313,865},{111,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_bg_logMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,49}</string>
                <key>spriteSourceSize</key>
                <string>{611,49}</string>
                <key>textureRect</key>
                <string>{{1,432},{611,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_bgphien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,39}</string>
                <key>spriteSourceSize</key>
                <string>{231,39}</string>
                <key>textureRect</key>
                <string>{{80,865},{231,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_ef_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,329}</string>
                <key>spriteSourceSize</key>
                <string>{324,329}</string>
                <key>textureRect</key>
                <string>{{585,534},{324,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TaiXiu_v2.png</string>
            <key>size</key>
            <string>{911,908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70838106bd6ca8c4b1007cd73f628c87:d2698c525cbf08850d2200851172bde3:721e3379d2e8b00c1da1c200a4a3db13$</string>
            <key>textureFileName</key>
            <string>TaiXiu_v2.png</string>
        </dict>
    </dict>
</plist>
