<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigwin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,213}</string>
                <key>spriteSourceSize</key>
                <string>{325,213}</string>
                <key>textureRect</key>
                <string>{{630,911},{325,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,117}</string>
                <key>spriteSourceSize</key>
                <string>{495,117}</string>
                <key>textureRect</key>
                <string>{{726,1239},{495,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,137}</string>
                <key>spriteSourceSize</key>
                <string>{501,137}</string>
                <key>textureRect</key>
                <string>{{105,1539},{501,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,100}</string>
                <key>spriteSourceSize</key>
                <string>{196,100}</string>
                <key>textureRect</key>
                <string>{{2,1539},{196,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>freespin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,93}</string>
                <key>spriteSourceSize</key>
                <string>{552,93}</string>
                <key>textureRect</key>
                <string>{{630,1239},{552,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{799,162}</string>
                <key>spriteSourceSize</key>
                <string>{799,162}</string>
                <key>textureRect</key>
                <string>{{2,2},{799,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{776,741}</string>
                <key>spriteSourceSize</key>
                <string>{776,741}</string>
                <key>textureRect</key>
                <string>{{2,167},{776,741}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,625}</string>
                <key>spriteSourceSize</key>
                <string>{625,625}</string>
                <key>textureRect</key>
                <string>{{2,911},{625,625}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spine.png</string>
            <key>size</key>
            <string>{845,1793}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:211419bad61a7d8e43d8ebe53005f01d:7dea8c072ee23399faca8ee9f1335b1a:23f1fa07f0cdf22b09e1f79db08c79ff$</string>
            <key>textureFileName</key>
            <string>spine.png</string>
        </dict>
    </dict>
</plist>
