<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>F5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,19}</string>
                <key>spriteSourceSize</key>
                <string>{33,19}</string>
                <key>textureRect</key>
                <string>{{129,0},{33,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{29,19},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,119}</string>
                <key>spriteSourceSize</key>
                <string>{147,119}</string>
                <key>textureRect</key>
                <string>{{65,69},{147,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,19}</string>
                <key>spriteSourceSize</key>
                <string>{33,19}</string>
                <key>textureRect</key>
                <string>{{162,0},{33,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,19}</string>
                <key>spriteSourceSize</key>
                <string>{36,19}</string>
                <key>textureRect</key>
                <string>{{59,0},{36,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,21}</string>
                <key>spriteSourceSize</key>
                <string>{29,21}</string>
                <key>textureRect</key>
                <string>{{0,19},{29,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,19}</string>
                <key>spriteSourceSize</key>
                <string>{34,19}</string>
                <key>textureRect</key>
                <string>{{95,0},{34,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,19}</string>
                <key>textureRect</key>
                <string>{{36,0},{23,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,19}</string>
                <key>spriteSourceSize</key>
                <string>{36,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{0,69},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,165}</string>
                <key>spriteSourceSize</key>
                <string>{161,165}</string>
                <key>textureRect</key>
                <string>{{0,188},{161,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,50}</string>
                <key>spriteSourceSize</key>
                <string>{91,50}</string>
                <key>textureRect</key>
                <string>{{109,19},{91,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{62,19},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skeleton.png</string>
            <key>size</key>
            <string>{212,353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ffc2bd2f4c6547f3ef540f9b1e90359:5c12ed9116c54a60115e694866eab2ad:6ceda2bc31d2ae8054658f664aa8f631$</string>
            <key>textureFileName</key>
            <string>skeleton.png</string>
        </dict>
    </dict>
</plist>
