<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{791,472}</string>
                <key>spriteSourceSize</key>
                <string>{791,472}</string>
                <key>textureRect</key>
                <string>{{1,293},{791,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,65}</string>
                <key>spriteSourceSize</key>
                <string>{96,65}</string>
                <key>textureRect</key>
                <string>{{169,1},{96,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,74}</string>
                <key>spriteSourceSize</key>
                <string>{181,74}</string>
                <key>textureRect</key>
                <string>{{267,1},{181,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,63}</string>
                <key>spriteSourceSize</key>
                <string>{96,63}</string>
                <key>textureRect</key>
                <string>{{71,1},{96,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,157}</string>
                <key>spriteSourceSize</key>
                <string>{120,157}</string>
                <key>textureRect</key>
                <string>{{450,1},{120,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{788,168}</string>
                <key>spriteSourceSize</key>
                <string>{788,168}</string>
                <key>textureRect</key>
                <string>{{1,123},{788,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CapThapV2.png</string>
            <key>size</key>
            <string>{793,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:494069f70a37a19bdbda8be3e262e50a:9c618a11d64d67c714f299c96bd49fac:1137d15b21eafc57002664f1a167ee27$</string>
            <key>textureFileName</key>
            <string>CapThapV2.png</string>
        </dict>
    </dict>
</plist>
