<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{470,427},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_caothap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,364}</string>
                <key>spriteSourceSize</key>
                <string>{703,364}</string>
                <key>textureRect</key>
                <string>{{1,1},{703,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_caothap_log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,58}</string>
                <key>spriteSourceSize</key>
                <string>{545,58}</string>
                <key>textureRect</key>
                <string>{{1,367},{545,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,45}</string>
                <key>spriteSourceSize</key>
                <string>{204,45}</string>
                <key>textureRect</key>
                <string>{{129,427},{204,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttom_an_non.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,55}</string>
                <key>spriteSourceSize</key>
                <string>{133,55}</string>
                <key>textureRect</key>
                <string>{{335,427},{133,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,126}</string>
                <key>spriteSourceSize</key>
                <string>{76,126}</string>
                <key>textureRect</key>
                <string>{{1,427},{76,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caothap_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,88}</string>
                <key>spriteSourceSize</key>
                <string>{131,88}</string>
                <key>textureRect</key>
                <string>{{548,367},{131,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caothap_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,88}</string>
                <key>spriteSourceSize</key>
                <string>{131,88}</string>
                <key>textureRect</key>
                <string>{{638,367},{131,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_caothap.png</string>
            <key>size</key>
            <string>{727,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:280278acc7e1bd367c59c2b4d80eb0dd:aae820d55674706640688f86d2c966dc:e12e9d1f2321ff202bd2589c6b27dc8b$</string>
            <key>textureFileName</key>
            <string>icon_caothap.png</string>
        </dict>
    </dict>
</plist>
