<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,583}</string>
                <key>spriteSourceSize</key>
                <string>{1,583}</string>
                <key>textureRect</key>
                <string>{{77,1},{1,583}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,583}</string>
                <key>spriteSourceSize</key>
                <string>{36,583}</string>
                <key>textureRect</key>
                <string>{{1,1},{36,583}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big-r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,583}</string>
                <key>spriteSourceSize</key>
                <string>{36,583}</string>
                <key>textureRect</key>
                <string>{{39,1},{36,583}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg_dialog.png</string>
            <key>size</key>
            <string>{79,585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ed3d1110c50dbe051e1a8dbf00547ab:3595dc1444595b4cd5a90307386ca792:adce72d270e4e191888c180e16a1dcc8$</string>
            <key>textureFileName</key>
            <string>bg_dialog.png</string>
        </dict>
    </dict>
</plist>
