<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default-2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default-2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{38,1},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg_top_body.png</string>
            <key>size</key>
            <string>{74,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a0c7b97490cbfe73323337fdb01bc33:cb2df37aa0cb447794cd306aeefb03a0:adce72d270e4e191888c180e16a1dcc8$</string>
            <key>textureFileName</key>
            <string>bg_top_body.png</string>
        </dict>
    </dict>
</plist>
