<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot-icon-effect-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{0,435},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{145,435},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{290,435},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{0,580},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{145,580},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{290,580},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{145,0},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{290,0},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{0,145},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{145,145},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{290,145},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{0,290},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{145,290},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot-icon-effect-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{290,290},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slot-effect.png</string>
            <key>size</key>
            <string>{435,725}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9af5eaa0652afa60bf6fc71c821b1eb4:a80441fb02d0bc7d82395e1c88dd281f:abd387d672a0168453c34d8f376efd59$</string>
            <key>textureFileName</key>
            <string>slot-effect.png</string>
        </dict>
    </dict>
</plist>
