<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ban2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{1,202},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{122,241},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{1,282},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{122,321},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{1,362},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{122,401},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{1,442},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{102,78}</string>
                <key>textureRect</key>
                <string>{{144,1},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{102,78}</string>
                <key>textureRect</key>
                <string>{{144,81},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{102,78}</string>
                <key>textureRect</key>
                <string>{{144,161},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{102,78}</string>
                <key>textureRect</key>
                <string>{{1,1002},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{102,78}</string>
                <key>textureRect</key>
                <string>{{1,1082},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban5_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{122,481},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{1,522},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{122,561},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{1,602},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban5_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{122,641},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban5_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{1,682},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban6_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{122,721},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{1,762},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{122,801},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{1,842},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban6_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{122,881},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban6_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{1,922},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ban6_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{122,961},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>co_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,42}</string>
                <key>spriteSourceSize</key>
                <string>{97,42}</string>
                <key>textureRect</key>
                <string>{{105,1041},{97,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>co_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,42}</string>
                <key>spriteSourceSize</key>
                <string>{97,42}</string>
                <key>textureRect</key>
                <string>{{149,1041},{97,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>co_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,42}</string>
                <key>spriteSourceSize</key>
                <string>{97,42}</string>
                <key>textureRect</key>
                <string>{{149,1085},{97,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,65}</string>
                <key>spriteSourceSize</key>
                <string>{141,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,65}</string>
                <key>spriteSourceSize</key>
                <string>{141,65}</string>
                <key>textureRect</key>
                <string>{{1,68},{141,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,65}</string>
                <key>spriteSourceSize</key>
                <string>{141,65}</string>
                <key>textureRect</key>
                <string>{{1,135},{141,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>banGame.png</string>
            <key>size</key>
            <string>{247,1161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cd6907052a1e0ac13348a31c381eb0d:47f536d09cd0d05c037472a7f73c04db:4040f181a29e2840dce63689963f6651$</string>
            <key>textureFileName</key>
            <string>banGame.png</string>
        </dict>
    </dict>
</plist>
