<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,24}</string>
                <key>spriteSourceSize</key>
                <string>{722,24}</string>
                <key>textureRect</key>
                <string>{{0,10},{722,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{719,317}</string>
                <key>spriteSourceSize</key>
                <string>{719,317}</string>
                <key>textureRect</key>
                <string>{{1440,576},{719,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,320}</string>
                <key>spriteSourceSize</key>
                <string>{721,320}</string>
                <key>textureRect</key>
                <string>{{721,893},{721,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,319}</string>
                <key>spriteSourceSize</key>
                <string>{721,319}</string>
                <key>textureRect</key>
                <string>{{0,893},{721,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,326}</string>
                <key>spriteSourceSize</key>
                <string>{721,326}</string>
                <key>textureRect</key>
                <string>{{721,1213},{721,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,325}</string>
                <key>spriteSourceSize</key>
                <string>{721,325}</string>
                <key>textureRect</key>
                <string>{{0,1213},{721,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,163}</string>
                <key>spriteSourceSize</key>
                <string>{721,163}</string>
                <key>textureRect</key>
                <string>{{0,171},{721,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,179}</string>
                <key>spriteSourceSize</key>
                <string>{721,179}</string>
                <key>textureRect</key>
                <string>{{721,171},{721,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,161}</string>
                <key>spriteSourceSize</key>
                <string>{721,161}</string>
                <key>textureRect</key>
                <string>{{1443,10},{721,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,216}</string>
                <key>spriteSourceSize</key>
                <string>{721,216}</string>
                <key>textureRect</key>
                <string>{{721,351},{721,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,314}</string>
                <key>spriteSourceSize</key>
                <string>{721,314}</string>
                <key>textureRect</key>
                <string>{{0,576},{721,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,10}</string>
                <key>spriteSourceSize</key>
                <string>{722,10}</string>
                <key>textureRect</key>
                <string>{{722,0},{722,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,328}</string>
                <key>spriteSourceSize</key>
                <string>{721,328}</string>
                <key>textureRect</key>
                <string>{{1442,1213},{721,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,10}</string>
                <key>spriteSourceSize</key>
                <string>{722,10}</string>
                <key>textureRect</key>
                <string>{{0,0},{722,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,180}</string>
                <key>spriteSourceSize</key>
                <string>{722,180}</string>
                <key>textureRect</key>
                <string>{{1442,171},{722,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,225}</string>
                <key>spriteSourceSize</key>
                <string>{721,225}</string>
                <key>textureRect</key>
                <string>{{1442,351},{721,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,198}</string>
                <key>spriteSourceSize</key>
                <string>{721,198}</string>
                <key>textureRect</key>
                <string>{{0,351},{721,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,155}</string>
                <key>spriteSourceSize</key>
                <string>{721,155}</string>
                <key>textureRect</key>
                <string>{{722,10},{721,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{719,315}</string>
                <key>spriteSourceSize</key>
                <string>{719,315}</string>
                <key>textureRect</key>
                <string>{{721,576},{719,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{719,320}</string>
                <key>spriteSourceSize</key>
                <string>{719,320}</string>
                <key>textureRect</key>
                <string>{{1442,893},{719,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lines.png</string>
            <key>size</key>
            <string>{2164,1541}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6df86ba67d33e27b364940e5f3f6ceee:613d8c56c41ff57266ed6aabb783be22:dab9dd9b7ff6fbdc187dc2f6ebe58f05$</string>
            <key>textureFileName</key>
            <string>lines.png</string>
        </dict>
    </dict>
</plist>
