<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./diem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,31}</string>
    <key>spriteSourceSize</key>
    <string>{66,31}</string>
    <key>textureRect</key>
    <string>{{265,33},{66,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./hang</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,31}</string>
    <key>spriteSourceSize</key>
    <string>{69,31}</string>
    <key>textureRect</key>
    <string>{{265,0},{69,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ip-12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{223,75}</string>
    <key>spriteSourceSize</key>
    <string>{223,75}</string>
    <key>textureRect</key>
    <string>{{0,173},{223,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./moto</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{258,81}</string>
    <key>spriteSourceSize</key>
    <string>{258,81}</string>
    <key>textureRect</key>
    <string>{{0,90},{258,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sh-abs</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{263,88}</string>
    <key>spriteSourceSize</key>
    <string>{263,88}</string>
    <key>textureRect</key>
    <string>{{0,0},{263,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./the-dis</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{183,60}</string>
    <key>spriteSourceSize</key>
    <string>{183,60}</string>
    <key>textureRect</key>
    <string>{{0,250},{183,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./thele-select</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{183,60}</string>
    <key>spriteSourceSize</key>
    <string>{183,60}</string>
    <key>textureRect</key>
    <string>{{185,250},{183,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./thuong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{146,35}</string>
    <key>spriteSourceSize</key>
    <string>{146,35}</string>
    <key>textureRect</key>
    <string>{{225,173},{146,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./tnv</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,29}</string>
    <key>spriteSourceSize</key>
    <string>{155,29}</string>
    <key>textureRect</key>
    <string>{{225,210},{155,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./vinhdanh-dis</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{183,60}</string>
    <key>spriteSourceSize</key>
    <string>{183,60}</string>
    <key>textureRect</key>
    <string>{{0,312},{183,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./vinhdanh-select</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{183,60}</string>
    <key>spriteSourceSize</key>
    <string>{183,60}</string>
    <key>textureRect</key>
    <string>{{185,312},{183,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{382,374}</string>
   <key>textureFileName</key>
   <string>SIEUTOP.png</string>
  </dict>
 </dict>
</plist>
