<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,172}</string>
                <key>spriteSourceSize</key>
                <string>{180,172}</string>
                <key>textureRect</key>
                <string>{{1169,1317},{180,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>audio_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{59,54}</string>
                <key>textureRect</key>
                <string>{{1584,543},{59,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>audio_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{58,54}</string>
                <key>textureRect</key>
                <string>{{1584,486},{58,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{1472,1605},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{1436,1866},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bang_thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,31}</string>
                <key>spriteSourceSize</key>
                <string>{180,31}</string>
                <key>textureRect</key>
                <string>{{801,1991},{180,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1057,676}</string>
                <key>spriteSourceSize</key>
                <string>{1057,676}</string>
                <key>textureRect</key>
                <string>{{1,1267},{1057,676}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1176,630}</string>
                <key>spriteSourceSize</key>
                <string>{1176,630}</string>
                <key>textureRect</key>
                <string>{{1,1},{1176,630}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1172,630}</string>
                <key>spriteSourceSize</key>
                <string>{1172,630}</string>
                <key>textureRect</key>
                <string>{{1,634},{1172,630}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,200}</string>
                <key>textureRect</key>
                <string>{{1176,1114},{210,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,42}</string>
                <key>spriteSourceSize</key>
                <string>{227,42}</string>
                <key>textureRect</key>
                <string>{{832,1946},{227,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,264}</string>
                <key>spriteSourceSize</key>
                <string>{241,264}</string>
                <key>textureRect</key>
                <string>{{1180,486},{241,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{59,54}</string>
                <key>textureRect</key>
                <string>{{1436,1962},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_helper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{59,54}</string>
                <key>textureRect</key>
                <string>{{1564,1753},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{59,54}</string>
                <key>textureRect</key>
                <string>{{1498,1962},{59,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,54}</string>
                <key>spriteSourceSize</key>
                <string>{59,54}</string>
                <key>textureRect</key>
                <string>{{1560,1959},{59,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chon_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,46}</string>
                <key>spriteSourceSize</key>
                <string>{184,46}</string>
                <key>textureRect</key>
                <string>{{1425,437},{184,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,70}</string>
                <key>textureRect</key>
                <string>{{1568,1674},{76,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>free_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,31}</string>
                <key>spriteSourceSize</key>
                <string>{249,31}</string>
                <key>textureRect</key>
                <string>{{1426,730},{249,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>free_vqmm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,31}</string>
                <key>spriteSourceSize</key>
                <string>{363,31}</string>
                <key>textureRect</key>
                <string>{{1392,730},{363,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head_log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{797,39}</string>
                <key>spriteSourceSize</key>
                <string>{797,39}</string>
                <key>textureRect</key>
                <string>{{1,1983},{797,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{828,34}</string>
                <key>spriteSourceSize</key>
                <string>{828,34}</string>
                <key>textureRect</key>
                <string>{{1,1946},{828,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_x009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,242}</string>
                <key>spriteSourceSize</key>
                <string>{482,242}</string>
                <key>textureRect</key>
                <string>{{1180,1},{482,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help_x01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{66,96}</string>
                <key>textureRect</key>
                <string>{{1347,1786},{66,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help_x010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,213}</string>
                <key>spriteSourceSize</key>
                <string>{381,213}</string>
                <key>textureRect</key>
                <string>{{1425,1},{381,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help_x011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,213}</string>
                <key>spriteSourceSize</key>
                <string>{381,213}</string>
                <key>textureRect</key>
                <string>{{1176,730},{381,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help_x02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{66,96}</string>
                <key>textureRect</key>
                <string>{{1568,1575},{66,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_x03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,96}</string>
                <key>spriteSourceSize</key>
                <string>{67,96}</string>
                <key>textureRect</key>
                <string>{{1223,1805},{67,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help_x04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,96}</string>
                <key>spriteSourceSize</key>
                <string>{78,96}</string>
                <key>textureRect</key>
                <string>{{1062,1944},{78,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help_x05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,96}</string>
                <key>spriteSourceSize</key>
                <string>{79,96}</string>
                <key>textureRect</key>
                <string>{{1554,1476},{79,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_x06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,96}</string>
                <key>spriteSourceSize</key>
                <string>{79,96}</string>
                <key>textureRect</key>
                <string>{{1465,1784},{79,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help_x07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,96}</string>
                <key>textureRect</key>
                <string>{{1465,1701},{80,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help_x08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{1532,1866},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,49}</string>
                <key>spriteSourceSize</key>
                <string>{209,49}</string>
                <key>textureRect</key>
                <string>{{1425,385},{209,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helper_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,105}</string>
                <key>spriteSourceSize</key>
                <string>{674,105}</string>
                <key>textureRect</key>
                <string>{{1061,1267},{674,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,124}</string>
                <key>spriteSourceSize</key>
                <string>{127,124}</string>
                <key>textureRect</key>
                <string>{{1427,1053},{127,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,127}</string>
                <key>spriteSourceSize</key>
                <string>{156,127}</string>
                <key>textureRect</key>
                <string>{{1460,720},{156,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,118}</string>
                <key>spriteSourceSize</key>
                <string>{129,118}</string>
                <key>textureRect</key>
                <string>{{1427,1180},{129,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,154}</string>
                <key>textureRect</key>
                <string>{{1447,486},{134,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,147}</string>
                <key>spriteSourceSize</key>
                <string>{115,147}</string>
                <key>textureRect</key>
                <string>{{1347,1636},{115,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,125}</string>
                <key>spriteSourceSize</key>
                <string>{143,125}</string>
                <key>textureRect</key>
                <string>{{1169,1879},{143,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,141}</string>
                <key>spriteSourceSize</key>
                <string>{134,141}</string>
                <key>textureRect</key>
                <string>{{1335,1492},{134,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,125}</string>
                <key>spriteSourceSize</key>
                <string>{157,125}</string>
                <key>textureRect</key>
                <string>{{1460,850},{157,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{140,136}</string>
                <key>textureRect</key>
                <string>{{1297,1875},{140,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,164}</string>
                <key>spriteSourceSize</key>
                <string>{121,164}</string>
                <key>textureRect</key>
                <string>{{1223,1638},{121,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,143}</string>
                <key>spriteSourceSize</key>
                <string>{163,143}</string>
                <key>textureRect</key>
                <string>{{1169,1492},{163,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,72}</string>
                <key>spriteSourceSize</key>
                <string>{172,72}</string>
                <key>textureRect</key>
                <string>{{1352,1317},{172,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,72}</string>
                <key>spriteSourceSize</key>
                <string>{172,72}</string>
                <key>textureRect</key>
                <string>{{1460,978},{172,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,72}</string>
                <key>spriteSourceSize</key>
                <string>{172,72}</string>
                <key>textureRect</key>
                <string>{{1427,1312},{172,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,74}</string>
                <key>spriteSourceSize</key>
                <string>{172,74}</string>
                <key>textureRect</key>
                <string>{{1447,643},{172,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>log_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,51}</string>
                <key>spriteSourceSize</key>
                <string>{238,51}</string>
                <key>textureRect</key>
                <string>{{1169,1638},{238,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vinhdanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,35}</string>
                <key>spriteSourceSize</key>
                <string>{198,35}</string>
                <key>textureRect</key>
                <string>{{1389,1114},{198,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,79}</string>
                <key>spriteSourceSize</key>
                <string>{115,79}</string>
                <key>textureRect</key>
                <string>{{1472,1487},{115,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,79}</string>
                <key>spriteSourceSize</key>
                <string>{123,79}</string>
                <key>textureRect</key>
                <string>{{1502,1394},{123,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,79}</string>
                <key>spriteSourceSize</key>
                <string>{124,79}</string>
                <key>textureRect</key>
                <string>{{1557,1053},{124,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,79}</string>
                <key>spriteSourceSize</key>
                <string>{129,79}</string>
                <key>textureRect</key>
                <string>{{1548,1180},{129,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,79}</string>
                <key>spriteSourceSize</key>
                <string>{124,79}</string>
                <key>textureRect</key>
                <string>{{1502,1312},{124,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>default.png</string>
            <key>size</key>
            <string>{1643,2023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c339b93111248576a3ca1a712604fc9c:447fef039523f3356d62355380a01c10:d258758acfd7c2dc4f771a427c5ecb8e$</string>
            <key>textureFileName</key>
            <string>default.png</string>
        </dict>
    </dict>
</plist>
