<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XoSo_botton_back1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{307,356},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_botton_back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,64}</string>
                <key>spriteSourceSize</key>
                <string>{57,64}</string>
                <key>textureRect</key>
                <string>{{1,447},{57,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>XoSo_botton_main.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,98}</string>
                <key>spriteSourceSize</key>
                <string>{262,98}</string>
                <key>textureRect</key>
                <string>{{1633,348},{262,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_botton_top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,98}</string>
                <key>spriteSourceSize</key>
                <string>{142,98}</string>
                <key>textureRect</key>
                <string>{{1125,1},{142,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_botton_top2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,78}</string>
                <key>spriteSourceSize</key>
                <string>{184,78}</string>
                <key>textureRect</key>
                <string>{{1287,348},{184,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_botton_top4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,66}</string>
                <key>spriteSourceSize</key>
                <string>{122,66}</string>
                <key>textureRect</key>
                <string>{{483,440},{122,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_box_comingsome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{805,157}</string>
                <key>spriteSourceSize</key>
                <string>{805,157}</string>
                <key>textureRect</key>
                <string>{{1125,105},{805,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_box_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{816,353}</string>
                <key>spriteSourceSize</key>
                <string>{816,353}</string>
                <key>textureRect</key>
                <string>{{307,1},{816,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_box_kq_loc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,444}</string>
                <key>spriteSourceSize</key>
                <string>{304,444}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_box_lines1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{816,82}</string>
                <key>spriteSourceSize</key>
                <string>{816,82}</string>
                <key>textureRect</key>
                <string>{{469,356},{816,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_box_lines2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,82}</string>
                <key>spriteSourceSize</key>
                <string>{802,82}</string>
                <key>textureRect</key>
                <string>{{1125,264},{802,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_box_linesmaill_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,55}</string>
                <key>spriteSourceSize</key>
                <string>{316,55}</string>
                <key>textureRect</key>
                <string>{{67,447},{316,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_btn_refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{86,70}</string>
                <key>textureRect</key>
                <string>{{397,356},{86,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>XoSo_btn_top3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,60}</string>
                <key>spriteSourceSize</key>
                <string>{96,60}</string>
                <key>textureRect</key>
                <string>{{385,446},{96,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,102}</string>
                <key>spriteSourceSize</key>
                <string>{696,102}</string>
                <key>textureRect</key>
                <string>{{1287,1},{696,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_select_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1473,348},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_select_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1553,348},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XoSo_thongke_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{964,64}</string>
                <key>spriteSourceSize</key>
                <string>{964,64}</string>
                <key>textureRect</key>
                <string>{{607,440},{964,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XoSo.png</string>
            <key>size</key>
            <string>{1984,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8da70ce5a7477dd14398c0f1c1ed0fb8:96381bc0ce4f4d7b84a2d65c5347d503:59367e6cba43126277f12fd97476847c$</string>
            <key>textureFileName</key>
            <string>XoSo.png</string>
        </dict>
    </dict>
</plist>
