<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{1,331},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{1,494},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{1,657},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{1,820},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{116,331},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{118,1},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{118,164},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{116,494},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{116,657},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{116,820},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{231,327},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{233,1},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{233,164},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{231,490},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{231,653},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{231,816},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{346,327},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{348,1},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{348,164},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{346,490},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{346,653},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{346,816},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{461,327},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{463,1},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{463,164},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{461,490},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{461,653},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{461,816},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{576,327},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{578,1},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{578,164},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{576,490},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{576,653},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{576,816},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{691,327},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{693,1},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{693,164},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{691,490},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{691,653},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{691,816},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BACK_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,163}</string>
                <key>spriteSourceSize</key>
                <string>{115,163}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BACK_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,163}</string>
                <key>spriteSourceSize</key>
                <string>{115,163}</string>
                <key>textureRect</key>
                <string>{{1,166},{115,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{806,327},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{808,1},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{808,164},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{806,490},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{806,653},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{806,816},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{921,327},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{923,1},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{923,164},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{921,490},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{921,653},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{113,161}</string>
                <key>textureRect</key>
                <string>{{921,816},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1037,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b90a90e0eb6414e54ec198652837ccf0:548557d25725fa4ff78c6616397d683c:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
