<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GLOW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{587,443},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,582}</string>
                <key>spriteSourceSize</key>
                <string>{583,582}</string>
                <key>textureRect</key>
                <string>{{2,413},{583,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,409}</string>
                <key>spriteSourceSize</key>
                <string>{526,409}</string>
                <key>textureRect</key>
                <string>{{2,2},{526,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StarBigFull.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,305}</string>
                <key>spriteSourceSize</key>
                <string>{312,305}</string>
                <key>textureRect</key>
                <string>{{587,690},{312,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,179}</string>
                <key>spriteSourceSize</key>
                <string>{379,179}</string>
                <key>textureRect</key>
                <string>{{587,509},{379,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_nohu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdb2d611fe90d2d3efd63c4e3a35a89b:755ca7feb952f20fb226234e011def4f:8af9d0a96c7297fd8ee252f23be422a5$</string>
            <key>textureFileName</key>
            <string>effect_nohu.png</string>
        </dict>
    </dict>
</plist>
