<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./bau-ok</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{126,123}</string>
    <key>spriteSourceSize</key>
    <string>{126,126}</string>
    <key>textureRect</key>
    <string>{{541,363},{126,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bg-chip</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{369,61}</string>
    <key>spriteSourceSize</key>
    <string>{375,70}</string>
    <key>textureRect</key>
    <string>{{234,526},{369,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bg-soicau</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{232,239}</string>
    <key>spriteSourceSize</key>
    <string>{232,239}</string>
    <key>textureRect</key>
    <string>{{0,363},{232,239}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bg-time</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{148,50}</string>
    <key>spriteSourceSize</key>
    <string>{150,55}</string>
    <key>textureRect</key>
    <string>{{633,604},{148,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bg-title</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{305,161}</string>
    <key>spriteSourceSize</key>
    <string>{305,164}</string>
    <key>textureRect</key>
    <string>{{234,363},{305,161}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bgmain</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{748,361}</string>
    <key>spriteSourceSize</key>
    <string>{756,366}</string>
    <key>textureRect</key>
    <string>{{0,0},{748,361}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ca-ok</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{126,123}</string>
    <key>spriteSourceSize</key>
    <string>{126,126}</string>
    <key>textureRect</key>
    <string>{{256,604},{126,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./chip-off</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,59}</string>
    <key>spriteSourceSize</key>
    <string>{55,59}</string>
    <key>textureRect</key>
    <string>{{750,120},{55,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./chip-select</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{55,53}</string>
    <key>spriteSourceSize</key>
    <string>{61,62}</string>
    <key>textureRect</key>
    <string>{{605,526},{55,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cua-ok</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{126,123}</string>
    <key>spriteSourceSize</key>
    <string>{126,126}</string>
    <key>textureRect</key>
    <string>{{384,604},{126,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ga-ok</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{126,123}</string>
    <key>spriteSourceSize</key>
    <string>{126,126}</string>
    <key>textureRect</key>
    <string>{{0,604},{126,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./help-button</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{57,58}</string>
    <key>spriteSourceSize</key>
    <string>{57,58}</string>
    <key>textureRect</key>
    <string>{{750,0},{57,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./history-button</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{57,58}</string>
    <key>spriteSourceSize</key>
    <string>{57,58}</string>
    <key>textureRect</key>
    <string>{{750,60},{57,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mask</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{119,118}</string>
    <key>spriteSourceSize</key>
    <string>{121,122}</string>
    <key>textureRect</key>
    <string>{{512,604},{119,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./nai-ok</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{126,123}</string>
    <key>spriteSourceSize</key>
    <string>{126,126}</string>
    <key>textureRect</key>
    <string>{{128,604},{126,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./tom-ok</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{126,123}</string>
    <key>spriteSourceSize</key>
    <string>{126,126}</string>
    <key>textureRect</key>
    <string>{{669,363},{126,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./top-button</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,56}</string>
    <key>textureRect</key>
    <string>{{750,240},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x-button</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,57}</string>
    <key>spriteSourceSize</key>
    <string>{55,58}</string>
    <key>textureRect</key>
    <string>{{750,181},{55,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{91,54}</string>
    <key>spriteSourceSize</key>
    <string>{95,64}</string>
    <key>textureRect</key>
    <string>{{633,656},{91,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{91,54}</string>
    <key>spriteSourceSize</key>
    <string>{95,56}</string>
    <key>textureRect</key>
    <string>{{726,656},{91,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{60,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,45}</string>
    <key>textureRect</key>
    <string>{{757,530},{60,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{62,44}</string>
    <key>spriteSourceSize</key>
    <string>{64,45}</string>
    <key>textureRect</key>
    <string>{{750,297},{62,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{61,40}</string>
    <key>spriteSourceSize</key>
    <string>{65,44}</string>
    <key>textureRect</key>
    <string>{{757,488},{61,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{820,729}</string>
   <key>textureFileName</key>
   <string>baucua_scode.png</string>
  </dict>
 </dict>
</plist>
