<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{154,144}</string>
                <key>textureRect</key>
                <string>{{154,435},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{154,144}</string>
                <key>textureRect</key>
                <string>{{154,291},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{154,144}</string>
                <key>textureRect</key>
                <string>{{217,147},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{154,144}</string>
                <key>textureRect</key>
                <string>{{0,291},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{154,144}</string>
                <key>textureRect</key>
                <string>{{308,291},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{154,144}</string>
                <key>textureRect</key>
                <string>{{308,435},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{154,144}</string>
                <key>textureRect</key>
                <string>{{0,435},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,43}</string>
                <key>spriteSourceSize</key>
                <string>{123,43}</string>
                <key>textureRect</key>
                <string>{{65,0},{123,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-box-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,56}</string>
                <key>spriteSourceSize</key>
                <string>{82,56}</string>
                <key>textureRect</key>
                <string>{{188,0},{82,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-box-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,96}</string>
                <key>spriteSourceSize</key>
                <string>{217,96}</string>
                <key>textureRect</key>
                <string>{{0,147},{217,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-diamond-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,71}</string>
                <key>spriteSourceSize</key>
                <string>{217,71}</string>
                <key>textureRect</key>
                <string>{{0,60},{217,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,87}</string>
                <key>spriteSourceSize</key>
                <string>{105,87}</string>
                <key>textureRect</key>
                <string>{{273,60},{105,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-key-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{56,73}</string>
                <key>textureRect</key>
                <string>{{217,60},{56,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,60}</string>
                <key>spriteSourceSize</key>
                <string>{83,60}</string>
                <key>textureRect</key>
                <string>{{270,0},{83,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,41}</string>
                <key>spriteSourceSize</key>
                <string>{65,41}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons.png</string>
            <key>size</key>
            <string>{462,579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db9848b97ca74e5a9e9b3f531e0db525:c2eee653ab1395401f6a2b968d48f430:a73c72aca107c42120aa7eba166486e5$</string>
            <key>textureFileName</key>
            <string>icons.png</string>
        </dict>
    </dict>
</plist>
