<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,133}</string>
                <key>spriteSourceSize</key>
                <string>{108,133}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,57}</string>
                <key>spriteSourceSize</key>
                <string>{59,57}</string>
                <key>textureRect</key>
                <string>{{136,1},{59,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,61}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{136,60},{48,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,37}</string>
                <key>spriteSourceSize</key>
                <string>{78,37}</string>
                <key>textureRect</key>
                <string>{{199,1},{78,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_free.png</string>
            <key>size</key>
            <string>{237,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72daefa6a1dd09c936dd16fa35c1e2ec:41f61d29cd977b29525646228857090a:83ed2af96a19e046c05260fcb59ad249$</string>
            <key>textureFileName</key>
            <string>icon_free.png</string>
        </dict>
    </dict>
</plist>
