<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,23}</string>
                <key>spriteSourceSize</key>
                <string>{94,23}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,71}</string>
                <key>spriteSourceSize</key>
                <string>{61,71}</string>
                <key>textureRect</key>
                <string>{{87,1},{61,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{320,103},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,14}</string>
                <key>spriteSourceSize</key>
                <string>{13,14}</string>
                <key>textureRect</key>
                <string>{{290,54},{13,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,11}</string>
                <key>spriteSourceSize</key>
                <string>{7,11}</string>
                <key>textureRect</key>
                <string>{{306,54},{7,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{350,103},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{240,69},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,51}</string>
                <key>spriteSourceSize</key>
                <string>{37,51}</string>
                <key>textureRect</key>
                <string>{{290,1},{37,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,39}</string>
                <key>spriteSourceSize</key>
                <string>{66,39}</string>
                <key>textureRect</key>
                <string>{{211,1},{66,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,51}</string>
                <key>spriteSourceSize</key>
                <string>{48,51}</string>
                <key>textureRect</key>
                <string>{{67,76},{48,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,36}</string>
                <key>spriteSourceSize</key>
                <string>{62,36}</string>
                <key>textureRect</key>
                <string>{{252,1},{62,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,29}</string>
                <key>spriteSourceSize</key>
                <string>{46,29}</string>
                <key>textureRect</key>
                <string>{{329,1},{46,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,73}</string>
                <key>spriteSourceSize</key>
                <string>{59,73}</string>
                <key>textureRect</key>
                <string>{{26,1},{59,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,26}</string>
                <key>spriteSourceSize</key>
                <string>{51,26}</string>
                <key>textureRect</key>
                <string>{{292,69},{51,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,37}</string>
                <key>textureRect</key>
                <string>{{367,45},{40,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,30}</string>
                <key>textureRect</key>
                <string>{{1,97},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{320,54},{47,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,19}</string>
                <key>spriteSourceSize</key>
                <string>{34,19}</string>
                <key>textureRect</key>
                <string>{{26,76},{34,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{177,69},{56,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{59,66}</string>
                <key>textureRect</key>
                <string>{{150,1},{59,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{360,1},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{58,53}</string>
                <key>textureRect</key>
                <string>{{117,74},{58,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,25}</string>
                <key>spriteSourceSize</key>
                <string>{54,25}</string>
                <key>textureRect</key>
                <string>{{213,69},{54,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{378,87},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_hu.png</string>
            <key>size</key>
            <string>{405,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eabf7bc113c3c5e3471d68f247b5571:47e12061d8db35ba19404be690b7f643:184f058076c33d7eb80cd5f8f48af42d$</string>
            <key>textureFileName</key>
            <string>icon_hu.png</string>
        </dict>
    </dict>
</plist>
