<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnmainmusicmute.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{785,813},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnmainhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,75}</string>
                <key>spriteSourceSize</key>
                <string>{92,75}</string>
                <key>textureRect</key>
                <string>{{722,444},{92,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popupbangthuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,64}</string>
                <key>spriteSourceSize</key>
                <string>{355,64}</string>
                <key>textureRect</key>
                <string>{{0,68},{355,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiencuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,147}</string>
                <key>spriteSourceSize</key>
                <string>{315,147}</string>
                <key>textureRect</key>
                <string>{{0,388},{315,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popuppaginate3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{490,0},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnmainlichsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{812,97},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,32}</string>
                <key>spriteSourceSize</key>
                <string>{83,32}</string>
                <key>textureRect</key>
                <string>{{725,134},{83,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,174}</string>
                <key>spriteSourceSize</key>
                <string>{182,174}</string>
                <key>textureRect</key>
                <string>{{542,0},{182,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,190}</string>
                <key>spriteSourceSize</key>
                <string>{178,190}</string>
                <key>textureRect</key>
                <string>{{543,348},{178,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menudropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,404}</string>
                <key>spriteSourceSize</key>
                <string>{103,404}</string>
                <key>textureRect</key>
                <string>{{830,408},{103,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnmainnoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{844,296},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnmainmusic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{861,813},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnmainhuongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{815,0},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khaytien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,67}</string>
                <key>spriteSourceSize</key>
                <string>{489,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{489,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTNAUTO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,156}</string>
                <key>spriteSourceSize</key>
                <string>{160,156}</string>
                <key>textureRect</key>
                <string>{{624,792},{160,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTNX2DISABLE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,72}</string>
                <key>spriteSourceSize</key>
                <string>{114,72}</string>
                <key>textureRect</key>
                <string>{{443,878},{114,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,186}</string>
                <key>spriteSourceSize</key>
                <string>{183,186}</string>
                <key>textureRect</key>
                <string>{{485,605},{183,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiennhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,147}</string>
                <key>spriteSourceSize</key>
                <string>{315,147}</string>
                <key>textureRect</key>
                <string>{{0,536},{315,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hom3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{356,68},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khaytienuser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,45}</string>
                <key>spriteSourceSize</key>
                <string>{191,45}</string>
                <key>textureRect</key>
                <string>{{251,870},{191,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popuppaginate1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{835,888},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btntieptuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,84}</string>
                <key>spriteSourceSize</key>
                <string>{195,84}</string>
                <key>textureRect</key>
                <string>{{251,785},{195,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{86,36}</string>
                <key>textureRect</key>
                <string>{{725,97},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_tongcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,31}</string>
                <key>spriteSourceSize</key>
                <string>{101,31}</string>
                <key>textureRect</key>
                <string>{{543,539},{101,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTNTHOAT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,35}</string>
                <key>spriteSourceSize</key>
                <string>{100,35}</string>
                <key>textureRect</key>
                <string>{{722,408},{100,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnclose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{558,878},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choithu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,111}</string>
                <key>spriteSourceSize</key>
                <string>{121,111}</string>
                <key>textureRect</key>
                <string>{{722,296},{121,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_tongthang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,28}</string>
                <key>spriteSourceSize</key>
                <string>{107,28}</string>
                <key>textureRect</key>
                <string>{{320,348},{107,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freespin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,100}</string>
                <key>spriteSourceSize</key>
                <string>{233,100}</string>
                <key>textureRect</key>
                <string>{{251,684},{233,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnmuccuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,85}</string>
                <key>spriteSourceSize</key>
                <string>{176,85}</string>
                <key>textureRect</key>
                <string>{{447,792},{176,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_muccuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,28}</string>
                <key>spriteSourceSize</key>
                <string>{93,28}</string>
                <key>textureRect</key>
                <string>{{543,571},{93,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pandajackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,60}</string>
                <key>spriteSourceSize</key>
                <string>{319,60}</string>
                <key>textureRect</key>
                <string>{{0,327},{319,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,216}</string>
                <key>spriteSourceSize</key>
                <string>{226,216}</string>
                <key>textureRect</key>
                <string>{{316,388},{226,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SWITCH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{852,248},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LOSE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,58}</string>
                <key>spriteSourceSize</key>
                <string>{145,58}</string>
                <key>textureRect</key>
                <string>{{316,605},{145,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popuplichsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,64}</string>
                <key>spriteSourceSize</key>
                <string>{355,64}</string>
                <key>textureRect</key>
                <string>{{0,198},{355,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnmain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,96}</string>
                <key>spriteSourceSize</key>
                <string>{89,96}</string>
                <key>textureRect</key>
                <string>{{725,0},{89,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTNX2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,92}</string>
                <key>spriteSourceSize</key>
                <string>{146,92}</string>
                <key>textureRect</key>
                <string>{{669,698},{146,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnmainnotimute.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{852,173},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popuppaginate2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{785,888},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homnen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,256}</string>
                <key>spriteSourceSize</key>
                <string>{250,256}</string>
                <key>textureRect</key>
                <string>{{0,684},{250,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_dongcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,28}</string>
                <key>spriteSourceSize</key>
                <string>{103,28}</string>
                <key>textureRect</key>
                <string>{{428,348},{103,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btndungchoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,84}</string>
                <key>spriteSourceSize</key>
                <string>{194,84}</string>
                <key>textureRect</key>
                <string>{{353,263},{194,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTNAUTODISABLE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,158}</string>
                <key>spriteSourceSize</key>
                <string>{160,158}</string>
                <key>textureRect</key>
                <string>{{669,539},{160,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_panda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,23}</string>
                <key>spriteSourceSize</key>
                <string>{132,23}</string>
                <key>textureRect</key>
                <string>{{251,916},{132,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popupvinhdanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,64}</string>
                <key>spriteSourceSize</key>
                <string>{355,64}</string>
                <key>textureRect</key>
                <string>{{0,133},{355,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{170,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,164}</string>
                <key>textureRect</key>
                <string>{{548,175},{170,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pandamaster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,63}</string>
                <key>spriteSourceSize</key>
                <string>{352,63}</string>
                <key>textureRect</key>
                <string>{{0,263},{352,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choithat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,120}</string>
                <key>spriteSourceSize</key>
                <string>{132,120}</string>
                <key>textureRect</key>
                <string>{{719,175},{132,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aladdin_main.png</string>
            <key>size</key>
            <string>{685,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aea0a4816a8e2cc989c62392c70ef8b7:5ac325e964e25bc80513b88e53c339bd:d258758acfd7c2dc4f771a427c5ecb8e$</string>
            <key>textureFileName</key>
            <string>aladdin_main.png</string>
        </dict>
    </dict>
</plist>
