<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,150}</string>
                <key>spriteSourceSize</key>
                <string>{169,150}</string>
                <key>textureRect</key>
                <string>{{0,164},{169,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,153}</string>
                <key>spriteSourceSize</key>
                <string>{169,153}</string>
                <key>textureRect</key>
                <string>{{0,315},{169,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{316,272},{145,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,163}</string>
                <key>spriteSourceSize</key>
                <string>{170,163}</string>
                <key>textureRect</key>
                <string>{{0,0},{170,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{171,0},{145,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{317,0},{145,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{316,408},{145,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{316,136},{145,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{170,436},{145,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{170,300},{145,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,135}</string>
                <key>spriteSourceSize</key>
                <string>{145,135}</string>
                <key>textureRect</key>
                <string>{{170,164},{145,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aladdin_item_main.png</string>
            <key>size</key>
            <string>{685,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aea0a4816a8e2cc989c62392c70ef8b7:5ac325e964e25bc80513b88e53c339bd:d258758acfd7c2dc4f771a427c5ecb8e$</string>
            <key>textureFileName</key>
            <string>aladdin_item_main.png</string>
        </dict>
    </dict>
</plist>
