<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>avenger_bangthuong_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,866},{83,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,75}}</string>
				<key>sourceSize</key>
				<string>{83,75}</string>
			</dict>

			<key>avenger_bangthuong_btn_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1243,857},{119,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,121}}</string>
				<key>sourceSize</key>
				<string>{119,121}</string>
			</dict>

			<key>avenger_bangthuong_btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,593},{119,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,121}}</string>
				<key>sourceSize</key>
				<string>{119,121}</string>
			</dict>

			<key>avenger_bg_freespins.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,853},{172,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,125}}</string>
				<key>sourceSize</key>
				<string>{172,125}</string>
			</dict>

			<key>avenger_bg_play_trial.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,789},{228,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{228,63}}</string>
				<key>sourceSize</key>
				<string>{233,66}</string>
			</dict>

			<key>avenger_bg_slots.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{1102,464}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1102,464}}</string>
				<key>sourceSize</key>
				<string>{1102,464}</string>
			</dict>

			<key>avenger_bg_so_phong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,853},{189,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,94}}</string>
				<key>sourceSize</key>
				<string>{189,94}</string>
			</dict>

			<key>avenger_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,576},{983,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{983,119}}</string>
				<key>sourceSize</key>
				<string>{1294,119}</string>
			</dict>

			<key>avenger_btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,0},{83,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,74}}</string>
				<key>sourceSize</key>
				<string>{83,74}</string>
			</dict>

			<key>avenger_btn_bangthuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,696},{230,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{230,92}}</string>
				<key>sourceSize</key>
				<string>{235,96}</string>
			</dict>

			<key>avenger_btn_lsgd.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,979},{18,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,17},{18,37}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>avenger_btn_settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,593},{82,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,85}}</string>
				<key>sourceSize</key>
				<string>{82,85}</string>
			</dict>

			<key>avenger_btn_sieutoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,593},{101,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,8},{101,52}}</string>
				<key>sourceSize</key>
				<string>{130,68}</string>
			</dict>

			<key>avenger_btn_sieutoc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,948},{130,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,68}}</string>
				<key>sourceSize</key>
				<string>{130,68}</string>
			</dict>

			<key>avenger_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,979},{20,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,36}}</string>
				<key>sourceSize</key>
				<string>{20,36}</string>
			</dict>

			<key>avenger_line_numb_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,715},{86,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,83}}</string>
				<key>sourceSize</key>
				<string>{86,83}</string>
			</dict>

			<key>avenger_line_numb_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,715},{86,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,83}}</string>
				<key>sourceSize</key>
				<string>{86,83}</string>
			</dict>

			<key>avenger_mng_bg_thongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,111},{807,481}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{807,481}}</string>
				<key>sourceSize</key>
				<string>{807,481}</string>
			</dict>

			<key>avenger_mng_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,866},{83,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,75}}</string>
				<key>sourceSize</key>
				<string>{83,75}</string>
			</dict>

			<key>avenger_numb_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,979},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>avenger_setting_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,111},{807,481}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{807,481}}</string>
				<key>sourceSize</key>
				<string>{807,481}</string>
			</dict>

			<key>avenger_setting_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,866},{83,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,75}}</string>
				<key>sourceSize</key>
				<string>{83,75}</string>
			</dict>

			<key>avenger_symbol_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,696},{151,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{151,159}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>avenger_symbol_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,853},{152,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,7},{152,162}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,747},{144,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,40},{144,109}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,715},{109,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,21},{109,150}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,854},{144,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,0},{144,166}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,856},{150,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,16},{150,152}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,857},{136,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,17},{136,152}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,696},{169,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,19},{169,156}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,696},{144,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,14},{144,152}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,696},{144,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,9},{144,157}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,849},{144,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,15},{144,151}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,696},{144,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,13},{144,153}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,593},{144,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,13},{144,153}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,856},{148,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,18},{148,153}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_symbol_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,696},{114,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,32},{114,126}}</string>
				<key>sourceSize</key>
				<string>{185,185}</string>
			</dict>

			<key>avenger_tick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,942},{78,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,4},{78,69}}</string>
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>

			<key>avenger_top_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1263,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1263,110}}</string>
				<key>sourceSize</key>
				<string>{1263,110}</string>
			</dict>

			<key>avenger_untick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,0},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,85}}</string>
				<key>sourceSize</key>
				<string>{93,85}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>slots_avenger.png</string>
			</dict>
		</dict>
</plist>