<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avenger_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1559,720}</string>
                <key>spriteSourceSize</key>
                <string>{1559,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1559,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avenger_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1559,720}</string>
                <key>spriteSourceSize</key>
                <string>{1559,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1559,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slots_avenger_bgs.png</string>
            <key>size</key>
            <string>{1561,1444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6672d95832d38b247365e2b3b4c9f43:c4ef5795170ad7b215738cd8e9dbb12c:ec77092cf9df1be51fd6a9ce4ddb14e9$</string>
            <key>textureFileName</key>
            <string>slots_avenger_bgs.png</string>
        </dict>
    </dict>
</plist>
