<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{1,192},{64,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{58,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{1,437},{58,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoangdan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{1,381},{54,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lichsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{1,68},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{1,496},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soicau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{1,320},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thoat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{1,258},{60,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{62,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{1,133},{62,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttontaixiu.png</string>
            <key>size</key>
            <string>{64,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf11fa411027c15ed2ea14754409490b:93676c712f7fbd77181d9bf5fc6d7899:dd356cc63f68b2f0ab1ee77360f82280$</string>
            <key>textureFileName</key>
            <string>buttontaixiu.png</string>
        </dict>
    </dict>
</plist>
