<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,25}</string>
                <key>spriteSourceSize</key>
                <string>{771,25}</string>
                <key>textureRect</key>
                <string>{{1,136},{771,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{772,80}</string>
                <key>spriteSourceSize</key>
                <string>{772,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{772,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,51}</string>
                <key>spriteSourceSize</key>
                <string>{771,51}</string>
                <key>textureRect</key>
                <string>{{1,83},{771,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,158}</string>
                <key>spriteSourceSize</key>
                <string>{766,158}</string>
                <key>textureRect</key>
                <string>{{769,767},{766,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,292}</string>
                <key>spriteSourceSize</key>
                <string>{766,292}</string>
                <key>textureRect</key>
                <string>{{1,646},{766,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{767,158}</string>
                <key>spriteSourceSize</key>
                <string>{767,158}</string>
                <key>textureRect</key>
                <string>{{1,486},{767,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{765,158}</string>
                <key>spriteSourceSize</key>
                <string>{765,158}</string>
                <key>textureRect</key>
                <string>{{1,940},{765,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,159}</string>
                <key>spriteSourceSize</key>
                <string>{768,159}</string>
                <key>textureRect</key>
                <string>{{1,325},{768,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{770,160}</string>
                <key>spriteSourceSize</key>
                <string>{770,160}</string>
                <key>textureRect</key>
                <string>{{1,163},{770,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{764,171}</string>
                <key>spriteSourceSize</key>
                <string>{764,171}</string>
                <key>textureRect</key>
                <string>{{775,1},{764,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{763,293}</string>
                <key>spriteSourceSize</key>
                <string>{763,293}</string>
                <key>textureRect</key>
                <string>{{1,1100},{763,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lines-1.png</string>
            <key>size</key>
            <string>{947,1534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4b0046d852007623f98b8d773fcad4a:f0faa8d56d7c52e4cc5e67d5637e57c2:cb14560ec95ac49ca6d3bbcc0b3ce423$</string>
            <key>textureFileName</key>
            <string>lines-1.png</string>
        </dict>
    </dict>
</plist>
