<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{767,295}</string>
                <key>spriteSourceSize</key>
                <string>{767,295}</string>
                <key>textureRect</key>
                <string>{{1,1486},{767,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,297}</string>
                <key>spriteSourceSize</key>
                <string>{766,297}</string>
                <key>textureRect</key>
                <string>{{774,199},{766,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{773,176}</string>
                <key>spriteSourceSize</key>
                <string>{773,176}</string>
                <key>textureRect</key>
                <string>{{1,1783},{773,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,295}</string>
                <key>spriteSourceSize</key>
                <string>{771,295}</string>
                <key>textureRect</key>
                <string>{{1,1},{771,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,295}</string>
                <key>spriteSourceSize</key>
                <string>{771,295}</string>
                <key>textureRect</key>
                <string>{{1,298},{771,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,293}</string>
                <key>spriteSourceSize</key>
                <string>{769,293}</string>
                <key>textureRect</key>
                <string>{{773,1092},{769,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,196}</string>
                <key>spriteSourceSize</key>
                <string>{768,196}</string>
                <key>textureRect</key>
                <string>{{774,1},{768,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{765,295}</string>
                <key>spriteSourceSize</key>
                <string>{765,295}</string>
                <key>textureRect</key>
                <string>{{774,795},{765,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{764,295}</string>
                <key>spriteSourceSize</key>
                <string>{764,295}</string>
                <key>textureRect</key>
                <string>{{776,1682},{764,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,295}</string>
                <key>spriteSourceSize</key>
                <string>{769,295}</string>
                <key>textureRect</key>
                <string>{{1,1189},{769,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,295}</string>
                <key>spriteSourceSize</key>
                <string>{771,295}</string>
                <key>textureRect</key>
                <string>{{1,595},{771,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{765,293}</string>
                <key>spriteSourceSize</key>
                <string>{765,293}</string>
                <key>textureRect</key>
                <string>{{772,1387},{765,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{770,295}</string>
                <key>spriteSourceSize</key>
                <string>{770,295}</string>
                <key>textureRect</key>
                <string>{{1,892},{770,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,295}</string>
                <key>spriteSourceSize</key>
                <string>{766,295}</string>
                <key>textureRect</key>
                <string>{{774,498},{766,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lines-0.png</string>
            <key>size</key>
            <string>{1543,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4b0046d852007623f98b8d773fcad4a:f0faa8d56d7c52e4cc5e67d5637e57c2:cb14560ec95ac49ca6d3bbcc0b3ce423$</string>
            <key>textureFileName</key>
            <string>lines-0.png</string>
        </dict>
    </dict>
</plist>
