<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,92}</string>
                <key>spriteSourceSize</key>
                <string>{131,92}</string>
                <key>textureRect</key>
                <string>{{133,264},{129,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{130,88}</string>
                <key>textureRect</key>
                <string>{{1,911},{128,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{129,88}</string>
                <key>spriteSourceSize</key>
                <string>{131,88}</string>
                <key>textureRect</key>
                <string>{{1,821},{129,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,91}</string>
                <key>spriteSourceSize</key>
                <string>{132,91}</string>
                <key>textureRect</key>
                <string>{{132,395},{128,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{129,90}</string>
                <key>spriteSourceSize</key>
                <string>{131,90}</string>
                <key>textureRect</key>
                <string>{{1,272},{129,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{129,89}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{1,548},{129,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{130,91}</string>
                <key>spriteSourceSize</key>
                <string>{132,91}</string>
                <key>textureRect</key>
                <string>{{134,1},{130,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{129,89}</string>
                <key>spriteSourceSize</key>
                <string>{131,89}</string>
                <key>textureRect</key>
                <string>{{1,639},{129,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{131,88}</string>
                <key>spriteSourceSize</key>
                <string>{131,90}</string>
                <key>textureRect</key>
                <string>{{1,92},{131,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,89}</string>
                <key>spriteSourceSize</key>
                <string>{131,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,88}</string>
                <key>spriteSourceSize</key>
                <string>{130,90}</string>
                <key>textureRect</key>
                <string>{{1,182},{130,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{129,91}</string>
                <key>spriteSourceSize</key>
                <string>{131,91}</string>
                <key>textureRect</key>
                <string>{{134,133},{129,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{130,88}</string>
                <key>textureRect</key>
                <string>{{1,1001},{128,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,89}</string>
                <key>spriteSourceSize</key>
                <string>{129,89}</string>
                <key>textureRect</key>
                <string>{{1,730},{129,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{129,90}</string>
                <key>spriteSourceSize</key>
                <string>{131,90}</string>
                <key>textureRect</key>
                <string>{{1,364},{129,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,91}</string>
                <key>spriteSourceSize</key>
                <string>{130,91}</string>
                <key>textureRect</key>
                <string>{{132,525},{128,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{132,655},{128,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{129,90}</string>
                <key>spriteSourceSize</key>
                <string>{131,90}</string>
                <key>textureRect</key>
                <string>{{1,456},{129,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,89}</string>
                <key>spriteSourceSize</key>
                <string>{129,89}</string>
                <key>textureRect</key>
                <string>{{132,785},{129,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{130,88}</string>
                <key>textureRect</key>
                <string>{{131,916},{128,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ThinhKinh_selectLine.png</string>
            <key>size</key>
            <string>{226,1090}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5c8466b2096dc059e3c9de11cbfb8c6:5445e201446e371febeccc643fcbb1d0:f4d8d6be8c0fcf7e1f0b7fd62485e08d$</string>
            <key>textureFileName</key>
            <string>ThinhKinh_selectLine.png</string>
        </dict>
    </dict>
</plist>
