<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{679,662}</string>
                <key>spriteSourceSize</key>
                <string>{679,662}</string>
                <key>textureRect</key>
                <string>{{113,1},{679,662}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,52}</string>
                <key>spriteSourceSize</key>
                <string>{279,52}</string>
                <key>textureRect</key>
                <string>{{1758,1},{279,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,43}</string>
                <key>spriteSourceSize</key>
                <string>{148,43}</string>
                <key>textureRect</key>
                <string>{{1869,831},{148,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,43}</string>
                <key>spriteSourceSize</key>
                <string>{148,43}</string>
                <key>textureRect</key>
                <string>{{1869,876},{148,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,43}</string>
                <key>spriteSourceSize</key>
                <string>{148,43}</string>
                <key>textureRect</key>
                <string>{{1829,921},{148,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_bochon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,43}</string>
                <key>spriteSourceSize</key>
                <string>{148,43}</string>
                <key>textureRect</key>
                <string>{{1874,921},{148,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,43}</string>
                <key>spriteSourceSize</key>
                <string>{148,43}</string>
                <key>textureRect</key>
                <string>{{1883,1071},{148,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{1829,1071},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,39}</string>
                <key>spriteSourceSize</key>
                <string>{21,39}</string>
                <key>textureRect</key>
                <string>{{777,590},{21,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,37}</string>
                <key>spriteSourceSize</key>
                <string>{17,37}</string>
                <key>textureRect</key>
                <string>{{777,631},{17,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,43}</string>
                <key>spriteSourceSize</key>
                <string>{148,43}</string>
                <key>textureRect</key>
                <string>{{1919,921},{148,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,43}</string>
                <key>spriteSourceSize</key>
                <string>{39,43}</string>
                <key>textureRect</key>
                <string>{{1964,921},{39,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,43}</string>
                <key>spriteSourceSize</key>
                <string>{150,43}</string>
                <key>textureRect</key>
                <string>{{1869,786},{150,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_line/line_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,62}</string>
                <key>spriteSourceSize</key>
                <string>{368,62}</string>
                <key>textureRect</key>
                <string>{{436,682},{368,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_line/line_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{366,47}</string>
                <key>spriteSourceSize</key>
                <string>{368,47}</string>
                <key>textureRect</key>
                <string>{{1545,1},{366,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{367,36}</string>
                <key>spriteSourceSize</key>
                <string>{369,40}</string>
                <key>textureRect</key>
                <string>{{1512,371},{367,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,335}</string>
                <key>spriteSourceSize</key>
                <string>{368,335}</string>
                <key>textureRect</key>
                <string>{{1175,373},{368,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,292}</string>
                <key>spriteSourceSize</key>
                <string>{370,292}</string>
                <key>textureRect</key>
                <string>{{935,745},{370,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,162}</string>
                <key>spriteSourceSize</key>
                <string>{367,162}</string>
                <key>textureRect</key>
                <string>{{1594,1},{365,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{367,290}</string>
                <key>spriteSourceSize</key>
                <string>{371,292}</string>
                <key>textureRect</key>
                <string>{{806,453},{367,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef_line/line_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,301}</string>
                <key>spriteSourceSize</key>
                <string>{370,301}</string>
                <key>textureRect</key>
                <string>{{632,746},{370,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,153}</string>
                <key>spriteSourceSize</key>
                <string>{363,153}</string>
                <key>textureRect</key>
                <string>{{1880,421},{363,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,161}</string>
                <key>spriteSourceSize</key>
                <string>{373,161}</string>
                <key>textureRect</key>
                <string>{{1426,743},{367,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,155}</string>
                <key>spriteSourceSize</key>
                <string>{365,155}</string>
                <key>textureRect</key>
                <string>{{1589,736},{365,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,152}</string>
                <key>spriteSourceSize</key>
                <string>{365,152}</string>
                <key>textureRect</key>
                <string>{{1726,368},{365,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,157}</string>
                <key>spriteSourceSize</key>
                <string>{364,157}</string>
                <key>textureRect</key>
                <string>{{1880,55},{364,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,158}</string>
                <key>spriteSourceSize</key>
                <string>{364,158}</string>
                <key>textureRect</key>
                <string>{{1,763},{364,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{370,223}</string>
                <key>spriteSourceSize</key>
                <string>{370,225}</string>
                <key>textureRect</key>
                <string>{{1161,1},{370,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,157}</string>
                <key>spriteSourceSize</key>
                <string>{368,157}</string>
                <key>textureRect</key>
                <string>{{1386,1},{368,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{365,174}</string>
                <key>spriteSourceSize</key>
                <string>{367,176}</string>
                <key>textureRect</key>
                <string>{{1550,369},{365,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,195}</string>
                <key>spriteSourceSize</key>
                <string>{369,195}</string>
                <key>textureRect</key>
                <string>{{1229,743},{367,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{371,173}</string>
                <key>spriteSourceSize</key>
                <string>{375,173}</string>
                <key>textureRect</key>
                <string>{{457,746},{371,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ef_line/line_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,294}</string>
                <key>spriteSourceSize</key>
                <string>{369,294}</string>
                <key>textureRect</key>
                <string>{{161,758},{369,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,69}</string>
                <key>spriteSourceSize</key>
                <string>{100,69}</string>
                <key>textureRect</key>
                <string>{{334,682},{100,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,86}</string>
                <key>textureRect</key>
                <string>{{1758,164},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,110}</string>
                <key>spriteSourceSize</key>
                <string>{107,110}</string>
                <key>textureRect</key>
                <string>{{1758,55},{107,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,107}</string>
                <key>spriteSourceSize</key>
                <string>{74,107}</string>
                <key>textureRect</key>
                <string>{{113,682},{74,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{1758,252},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{142,121}</string>
                <key>spriteSourceSize</key>
                <string>{152,121}</string>
                <key>textureRect</key>
                <string>{{1746,735},{142,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>longDen_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{222,682},{54,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longDen_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{278,682},{54,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,450}</string>
                <key>spriteSourceSize</key>
                <string>{382,450}</string>
                <key>textureRect</key>
                <string>{{777,1},{382,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{760,110}</string>
                <key>spriteSourceSize</key>
                <string>{760,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{760,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>select_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,25}</string>
                <key>spriteSourceSize</key>
                <string>{47,25}</string>
                <key>textureRect</key>
                <string>{{777,541},{47,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>select_10k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,25}</string>
                <key>spriteSourceSize</key>
                <string>{50,25}</string>
                <key>textureRect</key>
                <string>{{777,489},{50,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>select_1k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{777,453},{34,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,81}</string>
                <key>spriteSourceSize</key>
                <string>{214,81}</string>
                <key>textureRect</key>
                <string>{{1746,879},{214,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ThinhKinh.png</string>
            <key>size</key>
            <string>{2038,1128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:861e096e4f24c2277898972a28870b6a:ba8f3aa4c538f34c7e3c26ae5bd02de9:bc561dbb198cfebcc42194638db88d53$</string>
            <key>textureFileName</key>
            <string>ThinhKinh.png</string>
        </dict>
    </dict>
</plist>
