<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,225}</string>
                <key>spriteSourceSize</key>
                <string>{230,225}</string>
                <key>textureRect</key>
                <string>{{1,297},{230,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_active1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,262}</string>
                <key>spriteSourceSize</key>
                <string>{172,262}</string>
                <key>textureRect</key>
                <string>{{233,297},{172,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_active2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,173}</string>
                <key>spriteSourceSize</key>
                <string>{172,173}</string>
                <key>textureRect</key>
                <string>{{171,821},{172,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_balans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,36}</string>
                <key>spriteSourceSize</key>
                <string>{152,36}</string>
                <key>textureRect</key>
                <string>{{450,1},{152,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,258}</string>
                <key>spriteSourceSize</key>
                <string>{168,258}</string>
                <key>textureRect</key>
                <string>{{227,561},{168,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,447}</string>
                <key>spriteSourceSize</key>
                <string>{294,447}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,447}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,258}</string>
                <key>spriteSourceSize</key>
                <string>{168,258}</string>
                <key>textureRect</key>
                <string>{{1,750},{168,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_red3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,168}</string>
                <key>textureRect</key>
                <string>{{171,995},{169,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_red4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,168}</string>
                <key>textureRect</key>
                <string>{{1,1010},{169,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_white3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,168}</string>
                <key>textureRect</key>
                <string>{{171,1165},{169,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_white4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,168}</string>
                <key>textureRect</key>
                <string>{{1,1181},{169,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,107}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{407,354},{100,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip1_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,129}</string>
                <key>spriteSourceSize</key>
                <string>{130,129}</string>
                <key>textureRect</key>
                <string>{{342,1186},{130,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{407,463},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip2_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,129}</string>
                <key>spriteSourceSize</key>
                <string>{132,129}</string>
                <key>textureRect</key>
                <string>{{346,924},{132,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{405,1446},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip3_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,129}</string>
                <key>spriteSourceSize</key>
                <string>{127,129}</string>
                <key>textureRect</key>
                <string>{{171,1335},{127,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chip4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,103}</string>
                <key>spriteSourceSize</key>
                <string>{101,103}</string>
                <key>textureRect</key>
                <string>{{302,1446},{101,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip4_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{342,1055},{129,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chip5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{1,1352},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip5_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,132}</string>
                <key>spriteSourceSize</key>
                <string>{127,132}</string>
                <key>textureRect</key>
                <string>{{342,1317},{127,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cr_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{67,1455},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cr_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,1464},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{1,524},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{23,22}</string>
                <key>textureRect</key>
                <string>{{407,322},{23,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{407,297},{23,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,112}</string>
                <key>spriteSourceSize</key>
                <string>{351,112}</string>
                <key>textureRect</key>
                <string>{{397,571},{351,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mini_chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,48}</string>
                <key>spriteSourceSize</key>
                <string>{49,48}</string>
                <key>textureRect</key>
                <string>{{346,821},{49,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{103,1352},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nan_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,47}</string>
                <key>spriteSourceSize</key>
                <string>{98,47}</string>
                <key>textureRect</key>
                <string>{{450,155},{98,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nan_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,47}</string>
                <key>spriteSourceSize</key>
                <string>{97,47}</string>
                <key>textureRect</key>
                <string>{{450,255},{97,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,45}</string>
                <key>spriteSourceSize</key>
                <string>{69,45}</string>
                <key>textureRect</key>
                <string>{{171,750},{69,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XocXoc.png</string>
            <key>size</key>
            <string>{510,1550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:872232d6b81bd95f77b3af8b73fa4bb9:7f4c221c0df8669628b5560da27e9fbf:d61e67d2297479d1709029818ef0ec77$</string>
            <key>textureFileName</key>
            <string>XocXoc.png</string>
        </dict>
    </dict>
</plist>
