<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>babol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,109}</string>
                <key>spriteSourceSize</key>
                <string>{257,109}</string>
                <key>textureRect</key>
                <string>{{0,0},{257,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,48}</string>
                <key>spriteSourceSize</key>
                <string>{73,48}</string>
                <key>textureRect</key>
                <string>{{257,0},{73,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bigbabol-logo.png</string>
            <key>size</key>
            <string>{330,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaa277f4f842901bc8eb2fc35fe23c1f:3d209ad2c899b909092e7b6b0927befa:cc874736fc9b4de75b4daed12b3acf18$</string>
            <key>textureFileName</key>
            <string>bigbabol-logo.png</string>
        </dict>
    </dict>
</plist>
