<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,636}</string>
                <key>spriteSourceSize</key>
                <string>{546,636}</string>
                <key>textureRect</key>
                <string>{{709,514},{546,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,109}</string>
                <key>spriteSourceSize</key>
                <string>{143,109}</string>
                <key>textureRect</key>
                <string>{{1054,101},{143,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,109}</string>
                <key>spriteSourceSize</key>
                <string>{143,109}</string>
                <key>textureRect</key>
                <string>{{911,101},{143,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,134}</string>
                <key>spriteSourceSize</key>
                <string>{177,134}</string>
                <key>textureRect</key>
                <string>{{0,379},{177,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,135}</string>
                <key>spriteSourceSize</key>
                <string>{177,135}</string>
                <key>textureRect</key>
                <string>{{177,379},{177,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>form-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,442}</string>
                <key>spriteSourceSize</key>
                <string>{500,442}</string>
                <key>textureRect</key>
                <string>{{209,514},{500,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,33}</string>
                <key>spriteSourceSize</key>
                <string>{209,33}</string>
                <key>textureRect</key>
                <string>{{702,101},{209,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,79}</string>
                <key>spriteSourceSize</key>
                <string>{208,79}</string>
                <key>textureRect</key>
                <string>{{209,281},{208,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,70}</string>
                <key>spriteSourceSize</key>
                <string>{209,70}</string>
                <key>textureRect</key>
                <string>{{418,210},{209,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,71}</string>
                <key>spriteSourceSize</key>
                <string>{209,71}</string>
                <key>textureRect</key>
                <string>{{627,210},{209,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,71}</string>
                <key>spriteSourceSize</key>
                <string>{209,71}</string>
                <key>textureRect</key>
                <string>{{836,210},{209,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,67}</string>
                <key>spriteSourceSize</key>
                <string>{209,67}</string>
                <key>textureRect</key>
                <string>{{0,210},{209,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,94}</string>
                <key>spriteSourceSize</key>
                <string>{209,94}</string>
                <key>textureRect</key>
                <string>{{835,281},{209,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,71}</string>
                <key>spriteSourceSize</key>
                <string>{209,71}</string>
                <key>textureRect</key>
                <string>{{1045,210},{209,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,94}</string>
                <key>spriteSourceSize</key>
                <string>{209,94}</string>
                <key>textureRect</key>
                <string>{{626,281},{209,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,98}</string>
                <key>spriteSourceSize</key>
                <string>{209,98}</string>
                <key>textureRect</key>
                <string>{{1044,281},{209,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,94}</string>
                <key>spriteSourceSize</key>
                <string>{209,94}</string>
                <key>textureRect</key>
                <string>{{417,281},{209,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,21}</string>
                <key>spriteSourceSize</key>
                <string>{209,21}</string>
                <key>textureRect</key>
                <string>{{493,101},{209,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,127}</string>
                <key>spriteSourceSize</key>
                <string>{209,127}</string>
                <key>textureRect</key>
                <string>{{354,379},{209,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,17}</string>
                <key>spriteSourceSize</key>
                <string>{209,17}</string>
                <key>textureRect</key>
                <string>{{284,101},{209,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,148}</string>
                <key>spriteSourceSize</key>
                <string>{209,148}</string>
                <key>textureRect</key>
                <string>{{0,514},{209,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,133}</string>
                <key>spriteSourceSize</key>
                <string>{209,133}</string>
                <key>textureRect</key>
                <string>{{772,379},{209,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,74}</string>
                <key>spriteSourceSize</key>
                <string>{209,74}</string>
                <key>textureRect</key>
                <string>{{0,281},{209,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,127}</string>
                <key>spriteSourceSize</key>
                <string>{209,127}</string>
                <key>textureRect</key>
                <string>{{563,379},{209,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,133}</string>
                <key>spriteSourceSize</key>
                <string>{209,133}</string>
                <key>textureRect</key>
                <string>{{981,379},{209,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,69}</string>
                <key>spriteSourceSize</key>
                <string>{209,69}</string>
                <key>textureRect</key>
                <string>{{209,210},{209,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{552,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{414,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{276,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{904,50},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{138,50},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,51}</string>
                <key>spriteSourceSize</key>
                <string>{69,51}</string>
                <key>textureRect</key>
                <string>{{0,50},{69,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,51}</string>
                <key>spriteSourceSize</key>
                <string>{69,51}</string>
                <key>textureRect</key>
                <string>{{69,50},{69,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,51}</string>
                <key>spriteSourceSize</key>
                <string>{69,51}</string>
                <key>textureRect</key>
                <string>{{765,50},{69,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,51}</string>
                <key>spriteSourceSize</key>
                <string>{71,51}</string>
                <key>textureRect</key>
                <string>{{142,101},{71,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,51}</string>
                <key>spriteSourceSize</key>
                <string>{70,51}</string>
                <key>textureRect</key>
                <string>{{1116,50},{70,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{690,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{621,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{483,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,50}</string>
                <key>spriteSourceSize</key>
                <string>{71,50}</string>
                <key>textureRect</key>
                <string>{{974,50},{71,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{556,50},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{345,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{138,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,50}</string>
                <key>spriteSourceSize</key>
                <string>{71,50}</string>
                <key>textureRect</key>
                <string>{{71,101},{71,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>v_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{486,50},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{759,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{207,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{69,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{626,50},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{208,50},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,51}</string>
                <key>spriteSourceSize</key>
                <string>{69,51}</string>
                <key>textureRect</key>
                <string>{{278,50},{69,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,51}</string>
                <key>spriteSourceSize</key>
                <string>{69,51}</string>
                <key>textureRect</key>
                <string>{{347,50},{69,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,51}</string>
                <key>spriteSourceSize</key>
                <string>{69,51}</string>
                <key>textureRect</key>
                <string>{{696,50},{69,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,51}</string>
                <key>spriteSourceSize</key>
                <string>{71,51}</string>
                <key>textureRect</key>
                <string>{{213,101},{71,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,51}</string>
                <key>spriteSourceSize</key>
                <string>{70,51}</string>
                <key>textureRect</key>
                <string>{{1186,50},{70,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{897,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{828,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{1104,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,50}</string>
                <key>spriteSourceSize</key>
                <string>{71,50}</string>
                <key>textureRect</key>
                <string>{{1045,50},{71,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{416,50},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{966,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{1173,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,50}</string>
                <key>spriteSourceSize</key>
                <string>{69,50}</string>
                <key>textureRect</key>
                <string>{{1035,0},{69,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,50}</string>
                <key>spriteSourceSize</key>
                <string>{71,50}</string>
                <key>textureRect</key>
                <string>{{0,101},{71,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{834,50},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigBabol.png</string>
            <key>size</key>
            <string>{1256,1150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4febd1e92a1dec3b27e6faadc6c1f775:0bc7d33487b31246e20fbbf8ca20b548:50ab73b523e0a1e089f7349ea09fdfca$</string>
            <key>textureFileName</key>
            <string>BigBabol.png</string>
        </dict>
    </dict>
</plist>
