<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIND.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,24}</string>
                <key>spriteSourceSize</key>
                <string>{66,24}</string>
                <key>textureRect</key>
                <string>{{119,0},{66,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{20,0},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{44,0},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{71,0},{48,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{0,128},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{0,410},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{94,504},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{0,504},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{94,598},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{0,692},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{0,598},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{94,410},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ef09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{94,316},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{92,28},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{94,128},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{0,316},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{0,222},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{94,222},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{94,692},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{92,100}</string>
                <key>textureRect</key>
                <string>{{0,28},{92,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bigbabol-icon.png</string>
            <key>size</key>
            <string>{189,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b00915345ea0486ca42015efc750ba2:8ee26b31a1521ed1ce91b0d8fddf0646:6cf05cfc1b568f0256791069e1a722bb$</string>
            <key>textureFileName</key>
            <string>bigbabol-icon.png</string>
        </dict>
    </dict>
</plist>
