<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{300,474},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{600,474},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{900,474},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{0,711},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{300,711},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{600,711},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{900,711},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{0,948},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{300,948},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{600,948},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{900,948},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{0,1185},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{300,1185},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{600,1185},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{900,1185},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{0,1422},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{300,1422},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{600,1422},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{900,0},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{0,237},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{300,237},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{600,237},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{900,237},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,237}</string>
                <key>spriteSourceSize</key>
                <string>{300,237}</string>
                <key>textureRect</key>
                <string>{{0,474},{300,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ARB_line.png</string>
            <key>size</key>
            <string>{1200,1659}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8eb9d00cb9925f09af306bf2c32f23d:ef32b4ea7d144ee310294a99fa3bf088:17fa482d8fc06795c91958b00cd232c8$</string>
            <key>textureFileName</key>
            <string>ARB_line.png</string>
        </dict>
    </dict>
</plist>
