<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{782,543}</string>
    <key>spriteSourceSize</key>
    <string>{788,549}</string>
    <key>textureRect</key>
    <string>{{0,0},{782,543}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bg-chip</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{54,52}</string>
    <key>spriteSourceSize</key>
    <string>{56,53}</string>
    <key>textureRect</key>
    <string>{{696,712},{54,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bg-hu</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{384,71}</string>
    <key>spriteSourceSize</key>
    <string>{384,71}</string>
    <key>textureRect</key>
    <string>{{386,781},{384,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bg-phai</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{194,234}</string>
    <key>spriteSourceSize</key>
    <string>{198,237}</string>
    <key>textureRect</key>
    <string>{{386,545},{194,234}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bg-phai-tranform</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,2}</string>
    <key>spriteSize</key>
    <string>{192,232}</string>
    <key>spriteSourceSize</key>
    <string>{196,237}</string>
    <key>textureRect</key>
    <string>{{784,0},{192,232}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bg-scroll-p</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{384,303}</string>
    <key>spriteSourceSize</key>
    <string>{388,305}</string>
    <key>textureRect</key>
    <string>{{0,545},{384,303}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button-auto</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{206,70}</string>
    <key>spriteSourceSize</key>
    <string>{206,71}</string>
    <key>textureRect</key>
    <string>{{777,764},{206,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button-stop</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{206,71}</string>
    <key>spriteSourceSize</key>
    <string>{208,73}</string>
    <key>textureRect</key>
    <string>{{777,618},{206,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./chip-select</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,54}</string>
    <key>spriteSourceSize</key>
    <string>{62,55}</string>
    <key>textureRect</key>
    <string>{{582,712},{56,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./help-button</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{52,53}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{885,836},{52,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon-0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{102,111}</string>
    <key>spriteSourceSize</key>
    <string>{102,111}</string>
    <key>textureRect</key>
    <string>{{784,234},{102,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon-1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,90}</string>
    <key>spriteSourceSize</key>
    <string>{80,91}</string>
    <key>textureRect</key>
    <string>{{888,234},{80,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon-2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{78,87}</string>
    <key>spriteSourceSize</key>
    <string>{84,87}</string>
    <key>textureRect</key>
    <string>{{906,347},{78,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon-3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,106}</string>
    <key>spriteSourceSize</key>
    <string>{94,107}</string>
    <key>textureRect</key>
    <string>{{784,437},{94,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon-4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{102,89}</string>
    <key>spriteSourceSize</key>
    <string>{102,91}</string>
    <key>textureRect</key>
    <string>{{880,437},{102,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{120,88}</string>
    <key>spriteSourceSize</key>
    <string>{124,93}</string>
    <key>textureRect</key>
    <string>{{784,347},{120,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ls-button</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{52,53}</string>
    <key>spriteSourceSize</key>
    <string>{54,55}</string>
    <key>textureRect</key>
    <string>{{777,836},{52,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./quay-button</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{205,71}</string>
    <key>spriteSourceSize</key>
    <string>{213,72}</string>
    <key>textureRect</key>
    <string>{{777,691},{205,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./stop-button</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{207,71}</string>
    <key>spriteSourceSize</key>
    <string>{219,72}</string>
    <key>textureRect</key>
    <string>{{777,545},{207,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./title</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{193,165}</string>
    <key>spriteSourceSize</key>
    <string>{213,165}</string>
    <key>textureRect</key>
    <string>{{582,545},{193,165}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./top-button</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{52,53}</string>
    <key>spriteSourceSize</key>
    <string>{52,55}</string>
    <key>textureRect</key>
    <string>{{831,836},{52,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x-button</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,55}</string>
    <key>spriteSourceSize</key>
    <string>{54,55}</string>
    <key>textureRect</key>
    <string>{{640,712},{54,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,47}</string>
    <key>spriteSourceSize</key>
    <string>{88,49}</string>
    <key>textureRect</key>
    <string>{{0,850},{86,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{60,46}</string>
    <key>spriteSourceSize</key>
    <string>{62,49}</string>
    <key>textureRect</key>
    <string>{{214,850},{60,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{60,50}</string>
    <key>spriteSourceSize</key>
    <string>{62,51}</string>
    <key>textureRect</key>
    <string>{{152,850},{60,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,51}</string>
    <key>spriteSourceSize</key>
    <string>{62,51}</string>
    <key>textureRect</key>
    <string>{{88,850},{62,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{986,903}</string>
   <key>textureFileName</key>
   <string>bubg.png</string>
  </dict>
 </dict>
</plist>
