<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./thuong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{975,552}</string>
    <key>spriteSourceSize</key>
    <string>{981,556}</string>
    <key>textureRect</key>
    <string>{{0,0},{975,552}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-1}</string>
    <key>spriteSize</key>
    <string>{301,65}</string>
    <key>spriteSourceSize</key>
    <string>{313,72}</string>
    <key>textureRect</key>
    <string>{{625,554},{301,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-1}</string>
    <key>spriteSize</key>
    <string>{310,65}</string>
    <key>spriteSourceSize</key>
    <string>{330,84}</string>
    <key>textureRect</key>
    <string>{{313,554},{310,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./x22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{311,65}</string>
    <key>spriteSourceSize</key>
    <string>{317,88}</string>
    <key>textureRect</key>
    <string>{{0,554},{311,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{977,621}</string>
   <key>textureFileName</key>
   <string>huong_dan.png</string>
  </dict>
 </dict>
</plist>
