<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{748,526}</string>
                <key>spriteSourceSize</key>
                <string>{748,526}</string>
                <key>textureRect</key>
                <string>{{1,1},{748,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{941,1093},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_minius.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,57}</string>
                <key>spriteSourceSize</key>
                <string>{34,57}</string>
                <key>textureRect</key>
                <string>{{751,432},{34,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,58}</string>
                <key>spriteSourceSize</key>
                <string>{33,58}</string>
                <key>textureRect</key>
                <string>{{356,1795},{33,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,115}</string>
                <key>spriteSourceSize</key>
                <string>{112,115}</string>
                <key>textureRect</key>
                <string>{{1,1791},{112,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{941,1392},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,498}</string>
                <key>spriteSourceSize</key>
                <string>{572,498}</string>
                <key>textureRect</key>
                <string>{{1,529},{572,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{760,219}</string>
                <key>spriteSourceSize</key>
                <string>{760,219}</string>
                <key>textureRect</key>
                <string>{{1,1029},{760,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{930,1854},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{916,1244},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,85}</string>
                <key>spriteSourceSize</key>
                <string>{84,85}</string>
                <key>textureRect</key>
                <string>{{917,1638},{84,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{838,1854},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{93,92}</string>
                <key>textureRect</key>
                <string>{{822,1638},{93,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{916,1157},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,22}</string>
                <key>spriteSourceSize</key>
                <string>{239,22}</string>
                <key>textureRect</key>
                <string>{{915,910},{239,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,118}</string>
                <key>spriteSourceSize</key>
                <string>{241,118}</string>
                <key>textureRect</key>
                <string>{{222,1675},{241,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,212}</string>
                <key>spriteSourceSize</key>
                <string>{241,212}</string>
                <key>textureRect</key>
                <string>{{751,218},{241,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,116}</string>
                <key>spriteSourceSize</key>
                <string>{239,116}</string>
                <key>textureRect</key>
                <string>{{115,1795},{239,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,117}</string>
                <key>spriteSourceSize</key>
                <string>{241,117}</string>
                <key>textureRect</key>
                <string>{{464,1029},{241,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,238}</string>
                <key>spriteSourceSize</key>
                <string>{212,238}</string>
                <key>textureRect</key>
                <string>{{789,670},{212,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,211}</string>
                <key>spriteSourceSize</key>
                <string>{240,211}</string>
                <key>textureRect</key>
                <string>{{575,529},{240,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,212}</string>
                <key>spriteSourceSize</key>
                <string>{239,212}</string>
                <key>textureRect</key>
                <string>{{575,771},{239,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,214}</string>
                <key>spriteSourceSize</key>
                <string>{240,214}</string>
                <key>textureRect</key>
                <string>{{222,1029},{240,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,116}</string>
                <key>spriteSourceSize</key>
                <string>{237,116}</string>
                <key>textureRect</key>
                <string>{{705,1736},{237,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,118}</string>
                <key>spriteSourceSize</key>
                <string>{241,118}</string>
                <key>textureRect</key>
                <string>{{464,1272},{241,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,213}</string>
                <key>spriteSourceSize</key>
                <string>{240,213}</string>
                <key>textureRect</key>
                <string>{{222,1245},{240,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,115}</string>
                <key>spriteSourceSize</key>
                <string>{240,115}</string>
                <key>textureRect</key>
                <string>{{705,1494},{240,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,118}</string>
                <key>spriteSourceSize</key>
                <string>{239,118}</string>
                <key>textureRect</key>
                <string>{{464,1515},{239,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,215}</string>
                <key>spriteSourceSize</key>
                <string>{241,215}</string>
                <key>textureRect</key>
                <string>{{751,1},{241,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,118}</string>
                <key>spriteSourceSize</key>
                <string>{241,118}</string>
                <key>textureRect</key>
                <string>{{795,910},{241,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,116}</string>
                <key>spriteSourceSize</key>
                <string>{239,116}</string>
                <key>textureRect</key>
                <string>{{356,1848},{239,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,210}</string>
                <key>spriteSourceSize</key>
                <string>{236,210}</string>
                <key>textureRect</key>
                <string>{{795,432},{236,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,210}</string>
                <key>spriteSourceSize</key>
                <string>{239,210}</string>
                <key>textureRect</key>
                <string>{{583,1012},{239,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,211}</string>
                <key>spriteSourceSize</key>
                <string>{239,211}</string>
                <key>textureRect</key>
                <string>{{584,1253},{239,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,238}</string>
                <key>spriteSourceSize</key>
                <string>{211,238}</string>
                <key>textureRect</key>
                <string>{{465,1635},{211,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,117}</string>
                <key>spriteSourceSize</key>
                <string>{241,117}</string>
                <key>textureRect</key>
                <string>{{797,1153},{241,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,117}</string>
                <key>spriteSourceSize</key>
                <string>{239,117}</string>
                <key>textureRect</key>
                <string>{{597,1854},{239,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,213}</string>
                <key>spriteSourceSize</key>
                <string>{240,213}</string>
                <key>textureRect</key>
                <string>{{222,1460},{240,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,117}</string>
                <key>spriteSourceSize</key>
                <string>{240,117}</string>
                <key>textureRect</key>
                <string>{{822,1396},{240,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,59}</string>
                <key>spriteSourceSize</key>
                <string>{78,59}</string>
                <key>textureRect</key>
                <string>{{916,1331},{78,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,60}</string>
                <key>spriteSourceSize</key>
                <string>{101,60}</string>
                <key>textureRect</key>
                <string>{{939,910},{101,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,60}</string>
                <key>spriteSourceSize</key>
                <string>{78,60}</string>
                <key>textureRect</key>
                <string>{{1,1908},{78,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,60}</string>
                <key>spriteSourceSize</key>
                <string>{78,60}</string>
                <key>textureRect</key>
                <string>{{939,1013},{78,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>thienthu.png</string>
            <key>size</key>
            <string>{1006,1972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d414846f175acc8e8aa2ce616d90fe86:628f49b22652931bca7478ca48e5e459:85361c67982f70d707d6eb7b5674714b$</string>
            <key>textureFileName</key>
            <string>thienthu.png</string>
        </dict>
    </dict>
</plist>
