<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lines10_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{2,2},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines10_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{160,2},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines11_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,79}</string>
                <key>spriteSourceSize</key>
                <string>{156,79}</string>
                <key>textureRect</key>
                <string>{{318,2},{156,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines11_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{477,2},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines12_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{635,2},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines12_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{793,2},{155,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lines13_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{2,84},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines13_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{160,84},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines14_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{318,84},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines14_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{476,84},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines15_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{634,84},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines15_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{792,160},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines16_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{2,166},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines16_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{160,166},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines17_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{318,166},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines17_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{476,166},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines18_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{634,166},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines18_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{792,242},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines19_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{2,248},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines19_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{160,248},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines1_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{318,248},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines1_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{476,248},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines20_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{634,248},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines20_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{792,324},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines2_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{2,330},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines2_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{160,330},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines3_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{318,330},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines3_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{476,330},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines4_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{634,330},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines4_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{792,406},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines5_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{2,412},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines5_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{160,412},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines6_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{318,412},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines6_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{476,412},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines7_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{634,412},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines7_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{792,488},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines8_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{2,494},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines8_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{160,494},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines9_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{318,494},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines9_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{476,494},{155,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>selectLine.png</string>
            <key>size</key>
            <string>{949,575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c72d2eb2ff3f852392f8f04cc9cec4a1:42a15adccd7e28cdebfbb5af8d9f3abb:14df62ab478740873d1ed443d3ad468f$</string>
            <key>textureFileName</key>
            <string>selectLine.png</string>
        </dict>
    </dict>
</plist>
