<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgForMiniGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,47}</string>
                <key>spriteSourceSize</key>
                <string>{120,47}</string>
                <key>textureRect</key>
                <string>{{184,1},{120,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_Long.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,70}</string>
                <key>spriteSourceSize</key>
                <string>{181,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bet_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{1,73},{79,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_bet_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{83,73},{79,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{1,154},{59,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_giaithuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,59}</string>
                <key>spriteSourceSize</key>
                <string>{61,59}</string>
                <key>textureRect</key>
                <string>{{165,123},{61,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,60}</string>
                <key>spriteSourceSize</key>
                <string>{59,60}</string>
                <key>textureRect</key>
                <string>{{62,154},{59,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,60}</string>
                <key>spriteSourceSize</key>
                <string>{59,60}</string>
                <key>textureRect</key>
                <string>{{123,184},{59,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{184,184},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btn_Long.png</string>
            <key>size</key>
            <string>{244,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b64eb0179fe993147855719e7723cbe:93bb34236345e36370d91726f53f792b:9bc2807f4c7f1b52cdffd68e8166c08d$</string>
            <key>textureFileName</key>
            <string>btn_Long.png</string>
        </dict>
    </dict>
</plist>
