<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{576,0},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-Award.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{512,0},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{87,93}</string>
                <key>textureRect</key>
                <string>{{252,71},{87,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-change.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{704,0},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{640,0},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-choithu-press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,67}</string>
                <key>spriteSourceSize</key>
                <string>{158,67}</string>
                <key>textureRect</key>
                <string>{{491,71},{158,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-do-nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,65}</string>
                <key>spriteSourceSize</key>
                <string>{86,65}</string>
                <key>textureRect</key>
                <string>{{86,71},{86,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-guide-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{128,0},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-guide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-history-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{448,0},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-loc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{768,0},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-money-press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{192,0},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{384,0},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-rutloc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,50}</string>
                <key>spriteSourceSize</key>
                <string>{108,50}</string>
                <key>textureRect</key>
                <string>{{836,0},{108,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-vang-nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,65}</string>
                <key>spriteSourceSize</key>
                <string>{86,65}</string>
                <key>textureRect</key>
                <string>{{0,71},{86,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{256,0},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-yellow-small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,67}</string>
                <key>spriteSourceSize</key>
                <string>{152,67}</string>
                <key>textureRect</key>
                <string>{{339,71},{152,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_cong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{320,0},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,98}</string>
                <key>spriteSourceSize</key>
                <string>{302,98}</string>
                <key>textureRect</key>
                <string>{{649,71},{302,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coming-soon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{80,89}</string>
                <key>textureRect</key>
                <string>{{172,71},{80,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button_v2.png</string>
            <key>size</key>
            <string>{951,169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee17fa7a6180efba449e91a018cd72b5:56ed350a7fca7b8ce51fd6bfa1da4c88:3e5ea7e1d4ca65a1428eab03619fde87$</string>
            <key>textureFileName</key>
            <string>button_v2.png</string>
        </dict>
    </dict>
</plist>
