<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_phai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_trai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,68}</string>
                <key>textureRect</key>
                <string>{{1,71},{45,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>muiten.png</string>
            <key>size</key>
            <string>{47,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a39abf460397f71035c539f05463de07:654f2b70fa7c2e1626bd7458737c308a:1175bf738d3cb957915f4379d1fcdfe0$</string>
            <key>textureFileName</key>
            <string>muiten.png</string>
        </dict>
    </dict>
</plist>
