<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{179,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,296}}</string>
                <key>sourceSize</key>
                <string>{179,296}</string>
            </dict>
            <key>light/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{179,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,296}}</string>
                <key>sourceSize</key>
                <string>{179,296}</string>
            </dict>
            <key>phaohoa/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{107,110}}</string>
                <key>offset</key>
                <string>{5,-208}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,417},{107,110}}</string>
                <key>sourceSize</key>
                <string>{217,528}</string>
            </dict>
            <key>phaohoa/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,183},{189,160}}</string>
                <key>offset</key>
                <string>{-13,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,362},{189,160}}</string>
                <key>sourceSize</key>
                <string>{217,528}</string>
            </dict>
            <key>phaohoa/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,183},{201,240}}</string>
                <key>offset</key>
                <string>{-5,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,287},{201,240}}</string>
                <key>sourceSize</key>
                <string>{217,528}</string>
            </dict>
            <key>phaohoa/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,386},{181,238}}</string>
                <key>offset</key>
                <string>{-16,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,248},{181,238}}</string>
                <key>sourceSize</key>
                <string>{217,528}</string>
            </dict>
            <key>phaohoa/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,569},{181,212}}</string>
                <key>offset</key>
                <string>{-6,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,227},{181,212}}</string>
                <key>sourceSize</key>
                <string>{217,528}</string>
            </dict>
            <key>phaohoa/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{165,380}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{165,380}}</string>
                <key>sourceSize</key>
                <string>{217,528}</string>
            </dict>
            <key>phaohoa/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,380}}</string>
                <key>offset</key>
                <string>{12,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{183,380}}</string>
                <key>sourceSize</key>
                <string>{217,528}</string>
            </dict>
            <key>phaohoa/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,384},{191,298}}</string>
                <key>offset</key>
                <string>{7,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{191,298}}</string>
                <key>sourceSize</key>
                <string>{217,528}</string>
            </dict>
            <key>phaohoa/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,569},{191,206}}</string>
                <key>offset</key>
                <string>{12,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{191,206}}</string>
                <key>sourceSize</key>
                <string>{217,528}</string>
            </dict>
            <key>phaohoa/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,374},{157,158}}</string>
                <key>offset</key>
                <string>{-10,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,41},{157,158}}</string>
                <key>sourceSize</key>
                <string>{217,528}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tbnohu.png</string>
            <key>size</key>
            <string>{781,781}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44fb8e4a3f31f64e41e0b5fb34594a7a:1/1$</string>
            <key>textureFileName</key>
            <string>effect_tbnohu.png</string>
        </dict>
    </dict>
</plist>
