<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgnohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,80}</string>
                <key>spriteSourceSize</key>
                <string>{322,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{322,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,135}</string>
                <key>spriteSourceSize</key>
                <string>{142,135}</string>
                <key>textureRect</key>
                <string>{{322,0},{142,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hunohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,92}</string>
                <key>spriteSourceSize</key>
                <string>{111,92}</string>
                <key>textureRect</key>
                <string>{{464,0},{111,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{575,0},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{815,0},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1200,184},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1440,184},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1680,184},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{0,368},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{240,368},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{480,368},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{720,368},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{960,368},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1200,368},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1440,368},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1055,0},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1680,368},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{0,552},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{240,552},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{480,552},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{720,552},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{960,552},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1200,552},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1440,552},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1680,552},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{0,736},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1295,0},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{240,736},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{480,736},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{720,736},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{960,736},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1200,736},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1440,736},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1680,736},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{0,920},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{240,920},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{480,920},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1535,0},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{720,920},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{960,920},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1200,920},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1440,920},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{1680,920},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{0,184},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{240,184},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{480,184},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{720,184},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,184}</string>
                <key>textureRect</key>
                <string>{{960,184},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phaohoa_jackpot.png</string>
            <key>size</key>
            <string>{1920,1104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21bafc619d6f2bb73ff437d1c84c92b2:1f2cde7de7245b631d7401445d96501d:12e6b732c66a7c192c57f579456158b5$</string>
            <key>textureFileName</key>
            <string>phaohoa_jackpot.png</string>
        </dict>
    </dict>
</plist>
