<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mini-3-cay-reel-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,175}</string>
                <key>spriteSourceSize</key>
                <string>{354,175}</string>
                <key>textureRect</key>
                <string>{{163,99},{354,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-3-cay-reel-win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,175}</string>
                <key>spriteSourceSize</key>
                <string>{354,175}</string>
                <key>textureRect</key>
                <string>{{517,99},{354,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-3cay-bg-jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,66}</string>
                <key>spriteSourceSize</key>
                <string>{309,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{309,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-3cay-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,472}</string>
                <key>spriteSourceSize</key>
                <string>{647,472}</string>
                <key>textureRect</key>
                <string>{{0,274},{647,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-3cay-button-auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,71}</string>
                <key>spriteSourceSize</key>
                <string>{142,71}</string>
                <key>textureRect</key>
                <string>{{451,0},{142,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-3cay-button-fast-spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,71}</string>
                <key>spriteSourceSize</key>
                <string>{142,71}</string>
                <key>textureRect</key>
                <string>{{309,0},{142,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-3cay-button-stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,99}</string>
                <key>spriteSourceSize</key>
                <string>{163,99}</string>
                <key>textureRect</key>
                <string>{{593,0},{163,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-3cay-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,99}</string>
                <key>spriteSourceSize</key>
                <string>{163,99}</string>
                <key>textureRect</key>
                <string>{{0,99},{163,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini-game-3-cay-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,790}</string>
                <key>spriteSourceSize</key>
                <string>{645,790}</string>
                <key>textureRect</key>
                <string>{{0,746},{645,790}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mini-3cay.png</string>
            <key>size</key>
            <string>{871,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:530250766a3205271c8e1293b69ffef1:c0f6e33b724e19e5696073a17587b815:97e8fd466ae405321f49f7c454c02cf1$</string>
            <key>textureFileName</key>
            <string>mini-3cay.png</string>
        </dict>
    </dict>
</plist>
