<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{109,37}</string>
                <key>spriteSourceSize</key>
                <string>{111,37}</string>
                <key>textureRect</key>
                <string>{{425,128},{109,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,124}</string>
                <key>spriteSourceSize</key>
                <string>{111,124}</string>
                <key>textureRect</key>
                <string>{{403,1},{111,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{273,154},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dap_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,119}</string>
                <key>spriteSourceSize</key>
                <string>{163,119}</string>
                <key>textureRect</key>
                <string>{{1,1},{163,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dap_hu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,45}</string>
                <key>spriteSourceSize</key>
                <string>{122,45}</string>
                <key>textureRect</key>
                <string>{{465,200},{122,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dap_hu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,46}</string>
                <key>spriteSourceSize</key>
                <string>{122,46}</string>
                <key>textureRect</key>
                <string>{{465,151},{122,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free-spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,146}</string>
                <key>spriteSourceSize</key>
                <string>{44,146}</string>
                <key>textureRect</key>
                <string>{{315,1},{44,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free-spinEF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,144}</string>
                <key>spriteSourceSize</key>
                <string>{38,144}</string>
                <key>textureRect</key>
                <string>{{362,1},{38,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,22}</string>
                <key>spriteSourceSize</key>
                <string>{34,22}</string>
                <key>textureRect</key>
                <string>{{273,212},{34,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,39}</string>
                <key>spriteSourceSize</key>
                <string>{102,39}</string>
                <key>textureRect</key>
                <string>{{517,109},{102,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,38}</string>
                <key>textureRect</key>
                <string>{{384,148},{100,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_d1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{102,105}</string>
                <key>spriteSourceSize</key>
                <string>{102,109}</string>
                <key>textureRect</key>
                <string>{{517,1},{102,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_d2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,87}</string>
                <key>spriteSourceSize</key>
                <string>{64,87}</string>
                <key>textureRect</key>
                <string>{{140,163},{64,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,159}</string>
                <key>spriteSourceSize</key>
                <string>{82,159}</string>
                <key>textureRect</key>
                <string>{{123,1},{82,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{67,80}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{1,167},{67,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{69,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,68}</string>
                <key>textureRect</key>
                <string>{{71,167},{69,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{331,150},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,40}</string>
                <key>spriteSourceSize</key>
                <string>{93,40}</string>
                <key>textureRect</key>
                <string>{{230,154},{93,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,150}</string>
                <key>spriteSourceSize</key>
                <string>{104,150}</string>
                <key>textureRect</key>
                <string>{{208,1},{104,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animation.png</string>
            <key>size</key>
            <string>{620,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcfa06d87b570cca63d5f415e6e81d07:9b23987e28daa8e88efbf39ddd8a5e9a:0a34c58c0aa3d5b8cfa3f16913e33dfe$</string>
            <key>textureFileName</key>
            <string>animation.png</string>
        </dict>
    </dict>
</plist>
