<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{42,98}</string>
                <key>textureRect</key>
                <string>{{224,2},{42,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{42,98}</string>
                <key>textureRect</key>
                <string>{{269,2},{42,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,98}</string>
                <key>spriteSourceSize</key>
                <string>{219,98}</string>
                <key>textureRect</key>
                <string>{{2,2},{219,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgName.png</string>
            <key>size</key>
            <string>{313,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04e39fd73aa6b5d71f2ac9279dae6da3:8b7a03945256292debe03778a21959a2:1277101cbeb925c57ced4c95cced0f1b$</string>
            <key>textureFileName</key>
            <string>bgName.png</string>
        </dict>
    </dict>
</plist>
