<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>megajackpot_bg_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{2797,552},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_icon_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{3144,104},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_icon_ticket_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,127}</string>
                <key>spriteSourceSize</key>
                <string>{137,127}</string>
                <key>textureRect</key>
                <string>{{2727,714},{137,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_icon_ticket_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,128}</string>
                <key>spriteSourceSize</key>
                <string>{123,128}</string>
                <key>textureRect</key>
                <string>{{2715,876},{123,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_icon_ticket_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{130,126}</string>
                <key>textureRect</key>
                <string>{{2583,878},{130,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{2516,930},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_btn_next_page.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{2356,726},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_btn_prev_page.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{2393,726},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_btn_select_page.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{2738,552},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_btn_unselect_page.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{2738,611},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1004,446}</string>
                <key>spriteSourceSize</key>
                <string>{1004,446}</string>
                <key>textureRect</key>
                <string>{{2138,104},{1004,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_history_tab_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{2615,552},{160,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_history_tab_0_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{2665,714},{160,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_history_tab_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,61}</string>
                <key>spriteSourceSize</key>
                <string>{160,61}</string>
                <key>textureRect</key>
                <string>{{2602,715},{160,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_history_tab_1_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{160,59}</string>
                <key>spriteSourceSize</key>
                <string>{160,61}</string>
                <key>textureRect</key>
                <string>{{2677,552},{160,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_history_title_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1039,32}</string>
                <key>spriteSourceSize</key>
                <string>{1039,32}</string>
                <key>textureRect</key>
                <string>{{2138,36},{1039,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_history_title_ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1039,32}</string>
                <key>spriteSourceSize</key>
                <string>{1039,32}</string>
                <key>textureRect</key>
                <string>{{2138,70},{1039,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_ranking_tab_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,60}</string>
                <key>spriteSourceSize</key>
                <string>{161,60}</string>
                <key>textureRect</key>
                <string>{{2491,552},{161,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_ranking_tab_0_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,60}</string>
                <key>spriteSourceSize</key>
                <string>{161,60}</string>
                <key>textureRect</key>
                <string>{{2540,715},{161,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_ranking_tab_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,61}</string>
                <key>spriteSourceSize</key>
                <string>{161,61}</string>
                <key>textureRect</key>
                <string>{{2477,726},{161,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_ranking_tab_1_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,60}</string>
                <key>spriteSourceSize</key>
                <string>{161,60}</string>
                <key>textureRect</key>
                <string>{{2553,552},{161,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_ranking_title_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1039,33}</string>
                <key>spriteSourceSize</key>
                <string>{1039,33}</string>
                <key>textureRect</key>
                <string>{{2138,1},{1039,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_rule_content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1003,2135}</string>
                <key>spriteSourceSize</key>
                <string>{1003,2135}</string>
                <key>textureRect</key>
                <string>{{1,1},{1003,2135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_ticket_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,246}</string>
                <key>spriteSourceSize</key>
                <string>{180,246}</string>
                <key>textureRect</key>
                <string>{{2138,552},{180,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_ticket_tab_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,66}</string>
                <key>spriteSourceSize</key>
                <string>{172,66}</string>
                <key>textureRect</key>
                <string>{{2138,800},{172,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_ticket_tab_0_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,65}</string>
                <key>spriteSourceSize</key>
                <string>{172,65}</string>
                <key>textureRect</key>
                <string>{{2424,552},{172,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_ticket_tab_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,66}</string>
                <key>spriteSourceSize</key>
                <string>{172,66}</string>
                <key>textureRect</key>
                <string>{{2206,800},{172,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_ticket_tab_1_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,65}</string>
                <key>spriteSourceSize</key>
                <string>{172,65}</string>
                <key>textureRect</key>
                <string>{{2410,763},{172,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_ticket_tab_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,66}</string>
                <key>spriteSourceSize</key>
                <string>{172,66}</string>
                <key>textureRect</key>
                <string>{{2274,800},{172,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_ticket_tab_2_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,66}</string>
                <key>spriteSourceSize</key>
                <string>{172,66}</string>
                <key>textureRect</key>
                <string>{{2342,764},{172,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_ticket_tab_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,66}</string>
                <key>spriteSourceSize</key>
                <string>{172,66}</string>
                <key>textureRect</key>
                <string>{{2342,938},{172,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_ticket_tab_3_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,66}</string>
                <key>spriteSourceSize</key>
                <string>{172,66}</string>
                <key>textureRect</key>
                <string>{{2356,552},{172,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,34}</string>
                <key>spriteSourceSize</key>
                <string>{214,38}</string>
                <key>textureRect</key>
                <string>{{2320,552},{210,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_title_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,37}</string>
                <key>spriteSourceSize</key>
                <string>{120,41}</string>
                <key>textureRect</key>
                <string>{{2840,853},{116,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_title_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,20}</string>
                <key>spriteSourceSize</key>
                <string>{162,20}</string>
                <key>textureRect</key>
                <string>{{3144,296},{162,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>megajackpot_popup_title_rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,39}</string>
                <key>spriteSourceSize</key>
                <string>{93,39}</string>
                <key>textureRect</key>
                <string>{{2477,889},{93,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megajackpot_popup_title_ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,30}</string>
                <key>spriteSourceSize</key>
                <string>{161,34}</string>
                <key>textureRect</key>
                <string>{{3144,137},{157,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MegaJackpot_Popup.png</string>
            <key>size</key>
            <string>{3178,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49e2c5ad28860597eb997b222980770e:4071535e08ca26ceb413c314c1bbbdff:23e7ade2b1c36a1663130a1075a3bc45$</string>
            <key>textureFileName</key>
            <string>MegaJackpot_Popup.png</string>
        </dict>
    </dict>
</plist>
