<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button-chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{1,91},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-close-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{87,1},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{84,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,20}</string>
                <key>spriteSourceSize</key>
                <string>{11,20}</string>
                <key>textureRect</key>
                <string>{{128,60},{11,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{1,175},{78,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-next-preview-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{146,53},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-next-preview.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,39}</string>
                <key>spriteSourceSize</key>
                <string>{25,39}</string>
                <key>textureRect</key>
                <string>{{87,60},{25,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{81,91},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{161,91},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{85,175},{78,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-chip-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{146,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mini-game-button.png</string>
            <key>size</key>
            <string>{200,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d57d243e756b71b1a4141107cef9c1f8:1dcf243b541e3a2b8fc295d265730760:b3ef144041353bcbfaab26dc4860d733$</string>
            <key>textureFileName</key>
            <string>mini-game-button.png</string>
        </dict>
    </dict>
</plist>
