<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_popupMiniGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{448,448}</string>
                <key>textureRect</key>
                <string>{{1,1},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{285,451},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{119,107}</string>
                <key>spriteSourceSize</key>
                <string>{121,109}</string>
                <key>textureRect</key>
                <string>{{451,1},{119,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lights-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{171,451},{50,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lights-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{228,451},{50,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mini-game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{451,243},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{114,451},{52,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{1,451},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{56,451},{52,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trunghu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,97}</string>
                <key>spriteSourceSize</key>
                <string>{119,97}</string>
                <key>textureRect</key>
                <string>{{451,122},{119,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>util.bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,78}</string>
                <key>spriteSourceSize</key>
                <string>{75,78}</string>
                <key>textureRect</key>
                <string>{{451,325},{75,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>util.betC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{451,402},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>util-mini.png</string>
            <key>size</key>
            <string>{559,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:592fadb70bb9f5c9fe31c7d1ee3d6727:6b41db1188e556702202213cedb24ae9:efd9832f4b590c5b7ac28edff1c70e73$</string>
            <key>textureFileName</key>
            <string>util-mini.png</string>
        </dict>
    </dict>
</plist>
