<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>000.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,50}</string>
    <key>textureRect</key>
    <string>{{370,316},{80,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,50}</string>
    <key>textureRect</key>
    <string>{{248,420},{80,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>100k.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{120,50}</string>
    <key>spriteSourceSize</key>
    <string>{120,50}</string>
    <key>textureRect</key>
    <string>{{122,324},{120,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>10m.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{120,50}</string>
    <key>spriteSourceSize</key>
    <string>{120,50}</string>
    <key>textureRect</key>
    <string>{{0,324},{120,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1k.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{120,50}</string>
    <key>spriteSourceSize</key>
    <string>{120,50}</string>
    <key>textureRect</key>
    <string>{{0,376},{120,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>1m.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{120,50}</string>
    <key>spriteSourceSize</key>
    <string>{120,50}</string>
    <key>textureRect</key>
    <string>{{122,376},{120,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,50}</string>
    <key>textureRect</key>
    <string>{{330,368},{80,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,50}</string>
    <key>textureRect</key>
    <string>{{452,264},{80,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,50}</string>
    <key>textureRect</key>
    <string>{{330,420},{80,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,50}</string>
    <key>textureRect</key>
    <string>{{452,316},{80,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>500k.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{120,50}</string>
    <key>spriteSourceSize</key>
    <string>{120,50}</string>
    <key>textureRect</key>
    <string>{{248,264},{120,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>50k.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{120,50}</string>
    <key>spriteSourceSize</key>
    <string>{120,50}</string>
    <key>textureRect</key>
    <string>{{248,212},{120,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5k.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{120,50}</string>
    <key>spriteSourceSize</key>
    <string>{120,50}</string>
    <key>textureRect</key>
    <string>{{248,316},{120,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5m.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{120,50}</string>
    <key>spriteSourceSize</key>
    <string>{120,50}</string>
    <key>textureRect</key>
    <string>{{370,212},{120,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,50}</string>
    <key>textureRect</key>
    <string>{{0,428},{80,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,50}</string>
    <key>textureRect</key>
    <string>{{82,428},{80,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,50}</string>
    <key>textureRect</key>
    <string>{{248,368},{80,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,50}</string>
    <key>textureRect</key>
    <string>{{370,264},{80,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>allin-btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,54}</string>
    <key>spriteSourceSize</key>
    <string>{122,54}</string>
    <key>textureRect</key>
    <string>{{124,268},{122,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dat-bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{558,210}</string>
    <key>spriteSourceSize</key>
    <string>{558,210}</string>
    <key>textureRect</key>
    <string>{{0,0},{558,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>delete.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,50}</string>
    <key>textureRect</key>
    <string>{{164,428},{80,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dongy-btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,54}</string>
    <key>spriteSourceSize</key>
    <string>{122,54}</string>
    <key>textureRect</key>
    <string>{{0,212},{122,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>huy-btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,54}</string>
    <key>spriteSourceSize</key>
    <string>{122,54}</string>
    <key>textureRect</key>
    <string>{{124,212},{122,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokhac-btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,54}</string>
    <key>spriteSourceSize</key>
    <string>{122,54}</string>
    <key>textureRect</key>
    <string>{{0,268},{122,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{560,480}</string>
   <key>textureFileName</key>
   <string>board.png</string>
  </dict>
 </dict>
</plist>
