<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bkg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{656,382}</string>
    <key>spriteSourceSize</key>
    <string>{656,382}</string>
    <key>textureRect</key>
    <string>{{0,0},{656,382}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bxh-icon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{517,791},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chat-bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{354,414}</string>
    <key>spriteSourceSize</key>
    <string>{356,416}</string>
    <key>textureRect</key>
    <string>{{0,384},{354,414}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chat-exit-icon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,75}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{658,77},{75,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chat-icon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,75}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{658,231},{75,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chat-send.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,31}</string>
    <key>spriteSourceSize</key>
    <string>{32,31}</string>
    <key>textureRect</key>
    <string>{{725,308},{32,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>circle-effect.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{251,253}</string>
    <key>spriteSourceSize</key>
    <string>{253,253}</string>
    <key>textureRect</key>
    <string>{{356,384},{251,253}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>close-btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{569,791},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>help-icon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{621,791},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>light-win.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{159,159}</string>
    <key>spriteSourceSize</key>
    <string>{159,159}</string>
    <key>textureRect</key>
    <string>{{356,639},{159,159}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lsgd-icon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{686,549},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>nan-icon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,75}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{609,549},{75,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>nan2-icon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,75}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{658,0},{75,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>result-bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{65,66}</string>
    <key>spriteSourceSize</key>
    <string>{65,69}</string>
    <key>textureRect</key>
    <string>{{658,308},{65,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>soicau-icon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,75}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{658,154},{75,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tai.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{103,55}</string>
    <key>spriteSourceSize</key>
    <string>{103,55}</string>
    <key>textureRect</key>
    <string>{{609,492},{103,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>textbox-bet.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,45}</string>
    <key>spriteSourceSize</key>
    <string>{145,45}</string>
    <key>textureRect</key>
    <string>{{609,445},{145,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{240,74}</string>
    <key>spriteSourceSize</key>
    <string>{240,74}</string>
    <key>textureRect</key>
    <string>{{517,715},{240,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{241,74}</string>
    <key>spriteSourceSize</key>
    <string>{241,74}</string>
    <key>textureRect</key>
    <string>{{517,639},{241,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xiu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{117,59}</string>
    <key>spriteSourceSize</key>
    <string>{117,59}</string>
    <key>textureRect</key>
    <string>{{609,384},{117,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{760,843}</string>
   <key>textureFileName</key>
   <string>main.png</string>
  </dict>
 </dict>
</plist>
