<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PhunLua_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1940},{72,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,70},{72,82}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,1880},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,57},{134,137}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{3337,948},{238,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,44},{238,209}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{3337,716},{308,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,55},{308,231}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,1150},{428,339}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,27},{428,339}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{430,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{430,372}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,751},{430,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,386}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1138},{430,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,389}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1528},{430,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,385}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,0},{430,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,383}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,384},{430,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,383}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,768},{430,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,386}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,385},{430,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,396}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,0},{430,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,384}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1542},{430,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,393}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,1490},{425,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{425,389}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,781},{421,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{421,389}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1719,1490},{422,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{422,389}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1155},{430,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,386}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1170},{430,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,383}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2949,1159},{389,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,0},{389,383}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,769},{430,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,380}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,386},{430,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,382}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,0},{430,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,385}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1554},{430,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,385}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,390},{421,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{421,390}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,782},{430,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,387}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{430,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,377}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{2146,763},{402,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,0},{402,381}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2549,763},{402,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,0},{402,395}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,0},{421,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{421,389}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{2142,1171},{414,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,0},{414,385}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{2952,762},{384,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,0},{384,389}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{2555,1557},{394,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,0},{394,378}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{2552,0},{397,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,0},{397,380}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{2142,1557},{412,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{412,387}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{2146,381},{404,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,0},{404,381}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{2551,381},{401,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,0},{401,380}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{2146,0},{405,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,0},{405,380}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{2950,1543},{388,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,0},{388,378}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{2557,1159},{391,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,5},{391,375}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{2950,0},{386,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,0},{386,378}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{2953,379},{373,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,6},{373,367}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{3327,379},{349,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,29},{349,336}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

			<key>PhunLua_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{1722,1171},{314,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,56},{314,293}}</string>
				<key>sourceSize</key>
				<string>{430,400}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>