<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,70}</string>
                <key>spriteSourceSize</key>
                <string>{117,70}</string>
                <key>textureRect</key>
                <string>{{256,210},{117,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,70}</string>
                <key>spriteSourceSize</key>
                <string>{117,70}</string>
                <key>textureRect</key>
                <string>{{501,210},{117,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{373,210},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{128,210},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{0,210},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{622,140},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,70}</string>
                <key>spriteSourceSize</key>
                <string>{129,70}</string>
                <key>textureRect</key>
                <string>{{879,140},{129,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,70}</string>
                <key>spriteSourceSize</key>
                <string>{129,70}</string>
                <key>textureRect</key>
                <string>{{750,140},{129,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,70}</string>
                <key>spriteSourceSize</key>
                <string>{129,70}</string>
                <key>textureRect</key>
                <string>{{618,210},{129,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,70}</string>
                <key>spriteSourceSize</key>
                <string>{129,70}</string>
                <key>textureRect</key>
                <string>{{747,210},{129,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{386,280},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{642,280},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,70}</string>
                <key>spriteSourceSize</key>
                <string>{127,70}</string>
                <key>textureRect</key>
                <string>{{897,280},{127,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,70}</string>
                <key>spriteSourceSize</key>
                <string>{127,70}</string>
                <key>textureRect</key>
                <string>{{770,280},{127,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{514,280},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{258,280},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,70}</string>
                <key>spriteSourceSize</key>
                <string>{129,70}</string>
                <key>textureRect</key>
                <string>{{876,210},{129,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,70}</string>
                <key>spriteSourceSize</key>
                <string>{129,70}</string>
                <key>textureRect</key>
                <string>{{129,280},{129,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,70}</string>
                <key>spriteSourceSize</key>
                <string>{129,70}</string>
                <key>textureRect</key>
                <string>{{0,280},{129,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,70}</string>
                <key>spriteSourceSize</key>
                <string>{129,70}</string>
                <key>textureRect</key>
                <string>{{493,140},{129,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{365,140},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{746,0},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,70}</string>
                <key>spriteSourceSize</key>
                <string>{121,70}</string>
                <key>textureRect</key>
                <string>{{0,70},{121,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,70}</string>
                <key>spriteSourceSize</key>
                <string>{121,70}</string>
                <key>textureRect</key>
                <string>{{874,0},{121,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{616,0},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{486,0},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,70}</string>
                <key>spriteSourceSize</key>
                <string>{122,70}</string>
                <key>textureRect</key>
                <string>{{121,0},{122,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,70}</string>
                <key>spriteSourceSize</key>
                <string>{122,70}</string>
                <key>textureRect</key>
                <string>{{364,0},{122,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,70}</string>
                <key>spriteSourceSize</key>
                <string>{121,70}</string>
                <key>textureRect</key>
                <string>{{243,0},{121,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,70}</string>
                <key>spriteSourceSize</key>
                <string>{121,70}</string>
                <key>textureRect</key>
                <string>{{121,70},{121,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,70}</string>
                <key>spriteSourceSize</key>
                <string>{121,70}</string>
                <key>textureRect</key>
                <string>{{242,70},{121,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,70}</string>
                <key>spriteSourceSize</key>
                <string>{121,70}</string>
                <key>textureRect</key>
                <string>{{0,140},{121,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,70}</string>
                <key>spriteSourceSize</key>
                <string>{122,70}</string>
                <key>textureRect</key>
                <string>{{243,140},{122,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,70}</string>
                <key>spriteSourceSize</key>
                <string>{122,70}</string>
                <key>textureRect</key>
                <string>{{121,140},{122,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{846,70},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{726,70},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,70}</string>
                <key>spriteSourceSize</key>
                <string>{121,70}</string>
                <key>textureRect</key>
                <string>{{363,70},{121,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,70}</string>
                <key>spriteSourceSize</key>
                <string>{121,70}</string>
                <key>textureRect</key>
                <string>{{605,70},{121,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,70}</string>
                <key>spriteSourceSize</key>
                <string>{121,70}</string>
                <key>textureRect</key>
                <string>{{484,70},{121,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,70}</string>
                <key>spriteSourceSize</key>
                <string>{121,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{121,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>line-item.png</string>
            <key>size</key>
            <string>{1024,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e02f6a4d471066bdd9541dc02253fa6:353fd358abbcc9151b18d04f330de5c0:c54eb28d08d6faab78996fbceae9641f$</string>
            <key>textureFileName</key>
            <string>line-item.png</string>
        </dict>
    </dict>
</plist>
