<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bg_qua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{207,249}</string>
    <key>spriteSourceSize</key>
    <string>{209,251}</string>
    <key>textureRect</key>
    <string>{{0,0},{207,249}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blank_sprite.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1,0}</string>
    <key>spriteSourceSize</key>
    <string>{1,1}</string>
    <key>textureRect</key>
    <string>{{213,246},{1,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bt_page_next.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{56,79}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{509,929},{56,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bt_page_next_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,62}</string>
    <key>spriteSourceSize</key>
    <string>{90,90}</string>
    <key>textureRect</key>
    <string>{{754,806},{62,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bt_page_prev.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{56,79}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{874,458},{56,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bt_page_prev_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,62}</string>
    <key>spriteSourceSize</key>
    <string>{90,90}</string>
    <key>textureRect</key>
    <string>{{639,929},{62,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{186,75}</string>
    <key>spriteSourceSize</key>
    <string>{186,75}</string>
    <key>textureRect</key>
    <string>{{721,169},{186,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{186,75}</string>
    <key>spriteSourceSize</key>
    <string>{186,75}</string>
    <key>textureRect</key>
    <string>{{188,733},{186,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{186,75}</string>
    <key>spriteSourceSize</key>
    <string>{186,75}</string>
    <key>textureRect</key>
    <string>{{336,632},{186,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{186,75}</string>
    <key>spriteSourceSize</key>
    <string>{186,75}</string>
    <key>textureRect</key>
    <string>{{376,733},{186,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_allin.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{182,142}</string>
    <key>spriteSourceSize</key>
    <string>{182,142}</string>
    <key>textureRect</key>
    <string>{{0,458},{182,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_an.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{70,70}</string>
    <key>spriteSourceSize</key>
    <string>{72,72}</string>
    <key>textureRect</key>
    <string>{{848,91},{70,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_bg_info.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{220,87}</string>
    <key>spriteSourceSize</key>
    <string>{220,87}</string>
    <key>textureRect</key>
    <string>{{184,543},{220,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_caidat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,62}</string>
    <key>spriteSourceSize</key>
    <string>{63,62}</string>
    <key>textureRect</key>
    <string>{{824,733},{63,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_caidat2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{881,911},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_chat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,71}</string>
    <key>spriteSourceSize</key>
    <string>{68,71}</string>
    <key>textureRect</key>
    <string>{{862,0},{68,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_check_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{186,75}</string>
    <key>spriteSourceSize</key>
    <string>{186,75}</string>
    <key>textureRect</key>
    <string>{{0,810},{186,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_check_1_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{186,75}</string>
    <key>spriteSourceSize</key>
    <string>{186,75}</string>
    <key>textureRect</key>
    <string>{{524,632},{186,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_check_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{186,75}</string>
    <key>spriteSourceSize</key>
    <string>{186,75}</string>
    <key>textureRect</key>
    <string>{{593,370},{186,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_check_2_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{186,75}</string>
    <key>spriteSourceSize</key>
    <string>{186,75}</string>
    <key>textureRect</key>
    <string>{{406,543},{186,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_check_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{186,75}</string>
    <key>spriteSourceSize</key>
    <string>{186,75}</string>
    <key>textureRect</key>
    <string>{{0,733},{186,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_check_3_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{186,75}</string>
    <key>spriteSourceSize</key>
    <string>{186,75}</string>
    <key>textureRect</key>
    <string>{{594,543},{186,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_choingay.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,42}</string>
    <key>spriteSourceSize</key>
    <string>{38,42}</string>
    <key>textureRect</key>
    <string>{{900,251},{38,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_choingay2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{263,83}</string>
    <key>spriteSourceSize</key>
    <string>{263,83}</string>
    <key>textureRect</key>
    <string>{{184,458},{263,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_choingay3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{165,81}</string>
    <key>spriteSourceSize</key>
    <string>{165,81}</string>
    <key>textureRect</key>
    <string>{{707,458},{165,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_ck.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,51}</string>
    <key>spriteSourceSize</key>
    <string>{50,51}</string>
    <key>textureRect</key>
    <string>{{132,669},{50,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_close.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{121,73}</string>
    <key>spriteSourceSize</key>
    <string>{121,73}</string>
    <key>textureRect</key>
    <string>{{781,370},{121,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_close_chat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{27,41}</string>
    <key>spriteSourceSize</key>
    <string>{27,41}</string>
    <key>textureRect</key>
    <string>{{904,370},{27,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_dismiss_bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,38}</string>
    <key>spriteSourceSize</key>
    <string>{26,38}</string>
    <key>textureRect</key>
    <string>{{904,413},{26,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_dl.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,60}</string>
    <key>spriteSourceSize</key>
    <string>{56,60}</string>
    <key>textureRect</key>
    <string>{{754,870},{56,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_dropdown.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,71}</string>
    <key>spriteSourceSize</key>
    <string>{68,71}</string>
    <key>textureRect</key>
    <string>{{754,733},{68,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_dt.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,45}</string>
    <key>spriteSourceSize</key>
    <string>{50,45}</string>
    <key>textureRect</key>
    <string>{{118,961},{50,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_edit_avt.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{59,47}</string>
    <key>spriteSourceSize</key>
    <string>{59,47}</string>
    <key>textureRect</key>
    <string>{{0,961},{59,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_fb.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{254,72}</string>
    <key>spriteSourceSize</key>
    <string>{254,72}</string>
    <key>textureRect</key>
    <string>{{337,370},{254,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_help.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{49,49}</string>
    <key>spriteSourceSize</key>
    <string>{49,49}</string>
    <key>textureRect</key>
    <string>{{703,929},{49,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_hotline.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,47}</string>
    <key>spriteSourceSize</key>
    <string>{55,47}</string>
    <key>textureRect</key>
    <string>{{61,961},{55,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_hotro.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{51,51}</string>
    <key>spriteSourceSize</key>
    <string>{51,51}</string>
    <key>textureRect</key>
    <string>{{881,858},{51,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_info.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,55}</string>
    <key>spriteSourceSize</key>
    <string>{24,55}</string>
    <key>textureRect</key>
    <string>{{909,169},{24,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_ingame_chat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,34}</string>
    <key>spriteSourceSize</key>
    <string>{69,34}</string>
    <key>textureRect</key>
    <string>{{681,322},{69,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_invite.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{130,129}</string>
    <key>spriteSourceSize</key>
    <string>{130,130}</string>
    <key>textureRect</key>
    <string>{{0,602},{130,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_invite2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,71}</string>
    <key>spriteSourceSize</key>
    <string>{68,71}</string>
    <key>textureRect</key>
    <string>{{865,543},{68,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_kick.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{67,62}</string>
    <key>spriteSourceSize</key>
    <string>{67,62}</string>
    <key>textureRect</key>
    <string>{{670,854},{67,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_kiz.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{452,89}</string>
    <key>spriteSourceSize</key>
    <string>{452,89}</string>
    <key>textureRect</key>
    <string>{{209,0},{452,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_kiz_title.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{256,65}</string>
    <key>spriteSourceSize</key>
    <string>{256,65}</string>
    <key>textureRect</key>
    <string>{{449,458},{256,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_kiz_title2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{247,69}</string>
    <key>spriteSourceSize</key>
    <string>{247,69}</string>
    <key>textureRect</key>
    <string>{{542,251},{247,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_kiz_title3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,67}</string>
    <key>spriteSourceSize</key>
    <string>{198,67}</string>
    <key>textureRect</key>
    <string>{{355,810},{198,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_like_fb.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{275,117}</string>
    <key>spriteSourceSize</key>
    <string>{275,117}</string>
    <key>textureRect</key>
    <string>{{0,251},{275,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_livechat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,49}</string>
    <key>spriteSourceSize</key>
    <string>{60,49}</string>
    <key>textureRect</key>
    <string>{{754,932},{60,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_login.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{254,75}</string>
    <key>spriteSourceSize</key>
    <string>{254,75}</string>
    <key>textureRect</key>
    <string>{{209,169},{254,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_lsgd.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{59,59}</string>
    <key>spriteSourceSize</key>
    <string>{59,59}</string>
    <key>textureRect</key>
    <string>{{824,797},{59,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_m.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,119}</string>
    <key>spriteSourceSize</key>
    <string>{82,119}</string>
    <key>textureRect</key>
    <string>{{355,879},{82,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_muiten.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{47,64}</string>
    <key>spriteSourceSize</key>
    <string>{47,64}</string>
    <key>textureRect</key>
    <string>{{889,733},{47,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_naptien.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,81}</string>
    <key>spriteSourceSize</key>
    <string>{81,81}</string>
    <key>textureRect</key>
    <string>{{782,543},{81,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_ngchoi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,71}</string>
    <key>spriteSourceSize</key>
    <string>{68,71}</string>
    <key>textureRect</key>
    <string>{{439,929},{68,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_ngoi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{107,107}</string>
    <key>spriteSourceSize</key>
    <string>{107,107}</string>
    <key>textureRect</key>
    <string>{{791,251},{107,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,54}</string>
    <key>spriteSourceSize</key>
    <string>{164,54}</string>
    <key>textureRect</key>
    <string>{{188,893},{164,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_on.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,54}</string>
    <key>spriteSourceSize</key>
    <string>{164,54}</string>
    <key>textureRect</key>
    <string>{{712,632},{164,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_out_table.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,40}</string>
    <key>spriteSourceSize</key>
    <string>{44,40}</string>
    <key>textureRect</key>
    <string>{{881,961},{44,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_p.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{82,119}</string>
    <key>spriteSourceSize</key>
    <string>{82,119}</string>
    <key>textureRect</key>
    <string>{{564,733},{82,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_reg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{254,75}</string>
    <key>spriteSourceSize</key>
    <string>{254,75}</string>
    <key>textureRect</key>
    <string>{{465,169},{254,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_reload.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{43,41}</string>
    <key>spriteSourceSize</key>
    <string>{51,51}</string>
    <key>textureRect</key>
    <string>{{807,688},{43,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_ruttien.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,69}</string>
    <key>spriteSourceSize</key>
    <string>{58,69}</string>
    <key>textureRect</key>
    <string>{{878,632},{58,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_smart_otp.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,53}</string>
    <key>spriteSourceSize</key>
    <string>{122,53}</string>
    <key>textureRect</key>
    <string>{{188,949},{122,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_sound.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,40}</string>
    <key>spriteSourceSize</key>
    <string>{48,40}</string>
    <key>textureRect</key>
    <string>{{712,688},{48,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_sound_off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,39}</string>
    <key>spriteSourceSize</key>
    <string>{38,39}</string>
    <key>textureRect</key>
    <string>{{900,295},{38,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_tab_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{197,73}</string>
    <key>spriteSourceSize</key>
    <string>{197,75}</string>
    <key>textureRect</key>
    <string>{{663,0},{197,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_tab_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{197,75}</string>
    <key>spriteSourceSize</key>
    <string>{197,75}</string>
    <key>textureRect</key>
    <string>{{649,91},{197,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_taoban.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{69,39}</string>
    <key>spriteSourceSize</key>
    <string>{69,39}</string>
    <key>textureRect</key>
    <string>{{610,322},{69,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_taoban2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{263,83}</string>
    <key>spriteSourceSize</key>
    <string>{263,83}</string>
    <key>textureRect</key>
    <string>{{277,251},{263,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_taoban3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{165,81}</string>
    <key>spriteSourceSize</key>
    <string>{165,81}</string>
    <key>textureRect</key>
    <string>{{188,810},{165,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_thongbao.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,60}</string>
    <key>spriteSourceSize</key>
    <string>{55,60}</string>
    <key>textureRect</key>
    <string>{{824,858},{55,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_tinnhan.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{70,57}</string>
    <key>spriteSourceSize</key>
    <string>{70,57}</string>
    <key>textureRect</key>
    <string>{{567,929},{70,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_trove.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{47,65}</string>
    <key>spriteSourceSize</key>
    <string>{47,65}</string>
    <key>textureRect</key>
    <string>{{132,602},{47,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_vaoban.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,45}</string>
    <key>spriteSourceSize</key>
    <string>{66,45}</string>
    <key>textureRect</key>
    <string>{{542,322},{66,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_xephang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{47,51}</string>
    <key>spriteSourceSize</key>
    <string>{47,51}</string>
    <key>textureRect</key>
    <string>{{889,799},{47,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_xoa.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,45}</string>
    <key>spriteSourceSize</key>
    <string>{32,45}</string>
    <key>textureRect</key>
    <string>{{752,322},{32,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_ig_bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{335,86}</string>
    <key>spriteSourceSize</key>
    <string>{335,86}</string>
    <key>textureRect</key>
    <string>{{0,370},{335,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>button_kiz_shape.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{438,76}</string>
    <key>spriteSourceSize</key>
    <string>{438,76}</string>
    <key>textureRect</key>
    <string>{{209,91},{438,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chat_emo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,48}</string>
    <key>spriteSourceSize</key>
    <string>{104,48}</string>
    <key>textureRect</key>
    <string>{{648,783},{104,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chat_emo_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,48}</string>
    <key>spriteSourceSize</key>
    <string>{104,48}</string>
    <key>textureRect</key>
    <string>{{439,879},{104,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chat_text.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,48}</string>
    <key>spriteSourceSize</key>
    <string>{104,48}</string>
    <key>textureRect</key>
    <string>{{648,733},{104,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chat_text_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,48}</string>
    <key>spriteSourceSize</key>
    <string>{104,48}</string>
    <key>textureRect</key>
    <string>{{564,854},{104,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>f5_btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{51,51}</string>
    <key>spriteSourceSize</key>
    <string>{51,51}</string>
    <key>textureRect</key>
    <string>{{824,920},{51,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fb_btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{43,43}</string>
    <key>spriteSourceSize</key>
    <string>{43,43}</string>
    <key>textureRect</key>
    <string>{{762,688},{43,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>kieunap_btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,98}</string>
    <key>spriteSourceSize</key>
    <string>{150,98}</string>
    <key>textureRect</key>
    <string>{{184,632},{150,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>temp_captcha.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-119,34}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{240,70}</string>
    <key>textureRect</key>
    <string>{{209,246},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>temp_captcha_bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,72}</string>
    <key>spriteSourceSize</key>
    <string>{176,72}</string>
    <key>textureRect</key>
    <string>{{0,887},{176,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{940,1010}</string>
   <key>textureFileName</key>
   <string>button.png</string>
  </dict>
 </dict>
</plist>
