<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>background_header_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1424,68}</string>
    <key>spriteSourceSize</key>
    <string>{1424,68}</string>
    <key>textureRect</key>
    <string>{{0,0},{1424,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>background_header_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{960,71}</string>
    <key>spriteSourceSize</key>
    <string>{960,71}</string>
    <key>textureRect</key>
    <string>{{0,70},{960,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_facebook_header.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{271,57}</string>
    <key>spriteSourceSize</key>
    <string>{271,57}</string>
    <key>textureRect</key>
    <string>{{0,143},{271,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_forgot_password_header.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{187,36}</string>
    <key>spriteSourceSize</key>
    <string>{187,36}</string>
    <key>textureRect</key>
    <string>{{273,143},{187,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_login_header.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{271,58}</string>
    <key>spriteSourceSize</key>
    <string>{271,58}</string>
    <key>textureRect</key>
    <string>{{962,130},{271,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_register_header.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{272,58}</string>
    <key>spriteSourceSize</key>
    <string>{272,58}</string>
    <key>textureRect</key>
    <string>{{962,70},{272,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1426,202}</string>
   <key>textureFileName</key>
   <string>header_login.png</string>
  </dict>
 </dict>
</plist>
