<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>banner0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{266,420}</string>
    <key>spriteSourceSize</key>
    <string>{266,420}</string>
    <key>textureRect</key>
    <string>{{1249,352},{266,420}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bottom.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-639,45}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{1280,92}</string>
    <key>textureRect</key>
    <string>{{1253,347},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chat_khung_emo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,90}</string>
    <key>spriteSourceSize</key>
    <string>{90,90}</string>
    <key>textureRect</key>
    <string>{{1273,1189},{90,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chat_khung_noidung.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,40}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{1290,1068},{40,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chuyengold_bg_tien.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{672,75}</string>
    <key>spriteSourceSize</key>
    <string>{672,75}</string>
    <key>textureRect</key>
    <string>{{0,1280},{672,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dl_chu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{49,49}</string>
    <key>spriteSourceSize</key>
    <string>{49,49}</string>
    <key>textureRect</key>
    <string>{{1222,1280},{49,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>download_app.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,26}</string>
    <key>spriteSourceSize</key>
    <string>{112,26}</string>
    <key>textureRect</key>
    <string>{{981,774},{112,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dt_line.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{4,50}</string>
    <key>spriteSourceSize</key>
    <string>{4,50}</string>
    <key>textureRect</key>
    <string>{{1500,146},{4,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>edit_box2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,76}</string>
    <key>spriteSourceSize</key>
    <string>{34,76}</string>
    <key>textureRect</key>
    <string>{{1471,774},{34,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>iap.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{80,97}</string>
    <key>spriteSourceSize</key>
    <string>{110,99}</string>
    <key>textureRect</key>
    <string>{{1273,1281},{80,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icon_vang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,89}</string>
    <key>spriteSourceSize</key>
    <string>{68,89}</string>
    <key>textureRect</key>
    <string>{{1365,1189},{68,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icon_vang_small.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,72}</string>
    <key>spriteSourceSize</key>
    <string>{55,72}</string>
    <key>textureRect</key>
    <string>{{1457,0},{55,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khung_avatar_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{85,85}</string>
    <key>spriteSourceSize</key>
    <string>{85,85}</string>
    <key>textureRect</key>
    <string>{{1169,1357},{85,85}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khung_chatnhanh.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{300,42}</string>
    <key>spriteSourceSize</key>
    <string>{300,42}</string>
    <key>textureRect</key>
    <string>{{920,1280},{300,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khung_muccuoc.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{283,450}</string>
    <key>spriteSourceSize</key>
    <string>{285,452}</string>
    <key>textureRect</key>
    <string>{{696,352},{283,450}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khung_muccuoc_chon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,54}</string>
    <key>spriteSourceSize</key>
    <string>{244,54}</string>
    <key>textureRect</key>
    <string>{{674,1280},{244,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khung_tien.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{251,59}</string>
    <key>spriteSourceSize</key>
    <string>{251,59}</string>
    <key>textureRect</key>
    <string>{{1183,272},{251,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khung_tien2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{475,75}</string>
    <key>spriteSourceSize</key>
    <string>{475,75}</string>
    <key>textureRect</key>
    <string>{{696,1111},{475,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_banner_dot.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,12}</string>
    <key>spriteSourceSize</key>
    <string>{12,12}</string>
    <key>textureRect</key>
    <string>{{1253,333},{12,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_banner_frame.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{266,420}</string>
    <key>spriteSourceSize</key>
    <string>{266,420}</string>
    <key>textureRect</key>
    <string>{{981,352},{266,420}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_download_circle.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,127}</string>
    <key>spriteSourceSize</key>
    <string>{128,127}</string>
    <key>textureRect</key>
    <string>{{1327,0},{128,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_download_circle_bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,122}</string>
    <key>spriteSourceSize</key>
    <string>{122,122}</string>
    <key>textureRect</key>
    <string>{{1249,774},{122,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_edit_box.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{330,52}</string>
    <key>spriteSourceSize</key>
    <string>{338,67}</string>
    <key>textureRect</key>
    <string>{{1183,218},{330,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_floating_text_bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{564,51}</string>
    <key>spriteSourceSize</key>
    <string>{564,51}</string>
    <key>textureRect</key>
    <string>{{400,1357},{564,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_footer.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1271,89}</string>
    <key>spriteSourceSize</key>
    <string>{1271,89}</string>
    <key>textureRect</key>
    <string>{{0,1189},{1271,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_game_category.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,410}</string>
    <key>spriteSourceSize</key>
    <string>{52,410}</string>
    <key>textureRect</key>
    <string>{{1466,929},{52,410}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_header_left.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{540,123}</string>
    <key>spriteSourceSize</key>
    <string>{544,123}</string>
    <key>textureRect</key>
    <string>{{696,804},{540,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_header_right.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,13}</string>
    <key>spriteSize</key>
    <string>{540,96}</string>
    <key>spriteSourceSize</key>
    <string>{544,123}</string>
    <key>textureRect</key>
    <string>{{696,1013},{540,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_icon_rank_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{57,65}</string>
    <key>spriteSourceSize</key>
    <string>{57,65}</string>
    <key>textureRect</key>
    <string>{{1441,146},{57,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_icon_rank_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,62}</string>
    <key>spriteSourceSize</key>
    <string>{54,62}</string>
    <key>textureRect</key>
    <string>{{1457,74},{54,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_icon_rank_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,59}</string>
    <key>spriteSourceSize</key>
    <string>{52,59}</string>
    <key>textureRect</key>
    <string>{{1436,272},{52,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_invite_bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{256,70}</string>
    <key>spriteSourceSize</key>
    <string>{256,70}</string>
    <key>textureRect</key>
    <string>{{1183,146},{256,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_khung_ten.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{201,53}</string>
    <key>spriteSourceSize</key>
    <string>{201,53}</string>
    <key>textureRect</key>
    <string>{{1238,1013},{201,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_list_pointer.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,16}</string>
    <key>spriteSourceSize</key>
    <string>{25,18}</string>
    <key>textureRect</key>
    <string>{{1228,333},{23,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_loading_spin.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{142,144}</string>
    <key>spriteSourceSize</key>
    <string>{142,144}</string>
    <key>textureRect</key>
    <string>{{1183,0},{142,144}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_loading_spin2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{47,48}</string>
    <key>spriteSourceSize</key>
    <string>{47,48}</string>
    <key>textureRect</key>
    <string>{{1387,1380},{47,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_loading_spin_logo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-1}</string>
    <key>spriteSize</key>
    <string>{96,93}</string>
    <key>spriteSourceSize</key>
    <string>{102,105}</string>
    <key>textureRect</key>
    <string>{{1373,774},{96,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_loading_spin_logo2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,35}</string>
    <key>spriteSourceSize</key>
    <string>{34,35}</string>
    <key>textureRect</key>
    <string>{{1427,1281},{34,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_logo_header.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{70,80}</string>
    <key>spriteSourceSize</key>
    <string>{70,80}</string>
    <key>textureRect</key>
    <string>{{1355,1281},{70,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_mail_bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{201,53}</string>
    <key>spriteSourceSize</key>
    <string>{201,53}</string>
    <key>textureRect</key>
    <string>{{966,1357},{201,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_popup_title_bg_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{398,81}</string>
    <key>spriteSourceSize</key>
    <string>{398,81}</string>
    <key>textureRect</key>
    <string>{{0,1357},{398,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_popup_title_bg_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{768,82}</string>
    <key>spriteSourceSize</key>
    <string>{768,82}</string>
    <key>textureRect</key>
    <string>{{696,929},{768,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_quenmk_text.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{194,30}</string>
    <key>spriteSourceSize</key>
    <string>{194,30}</string>
    <key>textureRect</key>
    <string>{{400,1410},{194,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_thanh_bar.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{265,40}</string>
    <key>spriteSourceSize</key>
    <string>{265,40}</string>
    <key>textureRect</key>
    <string>{{1173,1111},{265,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ngchoi0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,29}</string>
    <key>spriteSourceSize</key>
    <string>{26,31}</string>
    <key>textureRect</key>
    <string>{{1490,305},{24,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ngchoi1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,31}</string>
    <key>spriteSourceSize</key>
    <string>{28,33}</string>
    <key>textureRect</key>
    <string>{{1490,272},{26,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>notifi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,39}</string>
    <key>spriteSourceSize</key>
    <string>{39,39}</string>
    <key>textureRect</key>
    <string>{{1416,1068},{39,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>popup_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{694,501}</string>
    <key>spriteSourceSize</key>
    <string>{694,501}</string>
    <key>textureRect</key>
    <string>{{0,686},{694,501}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>popup_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{694,684}</string>
    <key>spriteSourceSize</key>
    <string>{694,684}</string>
    <key>textureRect</key>
    <string>{{0,0},{694,684}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>popup_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{485,350}</string>
    <key>spriteSourceSize</key>
    <string>{485,350}</string>
    <key>textureRect</key>
    <string>{{696,0},{485,350}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>popup_nt_bg_label.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,34}</string>
    <key>spriteSourceSize</key>
    <string>{158,34}</string>
    <key>textureRect</key>
    <string>{{596,1410},{158,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>setting_line.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,0}</string>
    <key>spriteSize</key>
    <string>{499,1}</string>
    <key>spriteSourceSize</key>
    <string>{551,3}</string>
    <key>textureRect</key>
    <string>{{674,1336},{499,1}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>solo_check.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,40}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{1332,1068},{40,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>solo_checked.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{43,43}</string>
    <key>spriteSourceSize</key>
    <string>{43,43}</string>
    <key>textureRect</key>
    <string>{{1466,1341},{43,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>stg_icon_amthanh.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{36,28}</string>
    <key>spriteSourceSize</key>
    <string>{40,39}</string>
    <key>textureRect</key>
    <string>{{1135,774},{36,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>stg_icon_banchoi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{43,17}</string>
    <key>spriteSourceSize</key>
    <string>{43,17}</string>
    <key>textureRect</key>
    <string>{{1183,333},{43,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>stg_icon_moichoi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{38,28}</string>
    <key>spriteSourceSize</key>
    <string>{40,39}</string>
    <key>textureRect</key>
    <string>{{1095,774},{38,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>stg_icon_rung.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,39}</string>
    <key>spriteSourceSize</key>
    <string>{50,39}</string>
    <key>textureRect</key>
    <string>{{1238,1068},{50,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>stg_icon_sansang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,39}</string>
    <key>spriteSourceSize</key>
    <string>{40,39}</string>
    <key>textureRect</key>
    <string>{{1374,1068},{40,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>top_line.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{5,71}</string>
    <key>spriteSourceSize</key>
    <string>{5,71}</string>
    <key>textureRect</key>
    <string>{{1238,804},{5,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>wifi-0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,48}</string>
    <key>spriteSourceSize</key>
    <string>{59,52}</string>
    <key>textureRect</key>
    <string>{{1373,869},{55,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>wifi-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,48}</string>
    <key>spriteSourceSize</key>
    <string>{59,52}</string>
    <key>textureRect</key>
    <string>{{1430,869},{55,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>wifi-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,48}</string>
    <key>spriteSourceSize</key>
    <string>{59,52}</string>
    <key>textureRect</key>
    <string>{{1330,1380},{55,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>wifi-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,48}</string>
    <key>spriteSourceSize</key>
    <string>{59,52}</string>
    <key>textureRect</key>
    <string>{{1273,1380},{55,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1520,1446}</string>
   <key>textureFileName</key>
   <string>lobby.png</string>
  </dict>
 </dict>
</plist>
